[2016-02-24 14:25] nelsonag commented on #594
Good point.

On Wed, Feb 24, 2016 at 9:15 AM, Paul Romano <notifications@github.com>
wrote:

[2016-02-24 14:50] paulromano opened #599 "HDF5 library for continuous-energy transport data"
While we're on a mass issue-creation spree this morning, I thought I might as well add one more -- creation of an HDF5 library for continuous-energy data. As everyone knows, we currently rely on ACE-format data for continuous-energy neutron transport. There are a few downsides to ACE:

1. The format is old, opaque, and not easily extensible
2. We have no control over the format
3. It's only produc

[2016-02-24 15:23] friedmud commented on #594
MOCingjay is a new MOC code I'm working on.  I'm not at a point yet where I want to say too much about it :-). Hopefully soon!

@wbinventor I would definitely participate in trying to hammer out a consistent HDF5 format.  I _do_ think that's what I'm going to use for MOCingjay.  As always though: trying to satisfy the needs of many users can lead to a huge, nasty, specification.  So we do need to

[2016-02-24 15:38] paulromano commented on #598
A little more background reading (this was all mentioned in a comment on #494, but I thought I'd reproduce it here). There was apparently a code called SPATRAN which sampled Legendre expansions using a rejection method. They use a clever bounding function, described [here](http://www.iaea.org/inis/collection/NCLCollectionStore/_Public/07/223/7223918.pdf). The bounding function can be improved furt

[2016-02-24 15:49] paulromano commented on #598
Here's another [relevant paper](http://dx.doi.org/10.1016/0378-4754(89)90054-2).

[2016-02-24 19:29] cjosey commented on #598
I think I already have a method (arbitrary order, high efficiency), but I'm not fully aware of the physics.  Is it just pure Legendre or is it associated Legendre?

[2016-02-24 19:32] paulromano commented on #598
Just regular Legendre expansion is sufficient

[2016-02-24 19:42] paulromano commented on #599
One question we'll need to make a decision on -- how we want to identify nuclides/materials. Right now, our cross_sections.xml file gives each ACE table the following attributes: name, alias, metastable, zaid. There really ought to be a single canonical name and attibutes A, Z, and metastable. **I would propose that for nuclides we use the current GND form: SymA_mN**. So the first metastable state

[2016-02-25 00:06] cjosey commented on #598
I originally tried to derive a method that would be analytic in the sense that the Faddeeva function is analytic (infinite series that we just truncate once we hit machine precision), but I went for Newton's method.

The idea is that I form two matrices.  The first converts Legendre coefficients into coefficients of the form P(mu) = Sum_i c_i x^i.  The second converts the same coefficients into th

[2016-02-25 04:03] paulromano commented on #598
I was hoping for something more elegant than root finding on the CDF, but maybe it's just not possible. I am interested to see though whether it would be more or less costly than rejection for typical cases we might see.

[2016-02-25 05:01] cjosey commented on #598
I originally thought it would be more elegant, but there are no closed form solutions for order > 4.  There are infinite series solutions, which is what I initially started with, but it appeared that it was converging at a rate so slow as to make nearly any other method faster.  I can try one more time at that, but I doubt the method would ever beat newton's.

On the bright side, the above results

[2016-02-26 21:45] nelsonag commented on #598
Let me add another requirement: the method, whatever it looks like, should handle negative values of f(x) 'gracefully' after reconstructing from the inputted Legendre polynomials.

[2016-02-27 13:52] nelsonag commented on #594
I've never heard of YakXS and a scholar search came up with nothing
obvious. Interested to see any references you have though!
On Feb 24, 2016 10:23 AM, "Derek Gaston" <notifications@github.com> wrote:

[2016-02-28 23:52] cjosey commented on #598
Negative values are pretty easy to deal with no matter what algorithm is implemented:
![figure_1](https://cloud.githubusercontent.com/assets/354602/13382729/aae8f828-de49-11e5-8dfc-8bef8ffd5acb.png)
That aside, I have a few ideas on how to get away from Newton's method to something even faster.  I'm working on them off and on.  We'll see if they go anywhere.

[2016-02-29 19:57] paulromano commented on #598
I'm not sure what it means to handle negative values. Something really has to be done to the data ahead of time, e.g., NJOY assumes that portion of the PDF is zero. One could imagine other strategies like adjusting the expansion coefficients but preserving the moments of the PDF. Anyway, if there really were a direct method that could sample a Legendre expansion but couldn't handle a nonsensical P

[2016-02-29 21:37] nelsonag commented on #598
The reason why I made that statement about being able to handle negatives is that the main driver right now for the multi-group mode is comparison with deterministic solvers.  The deterministic solvers I'm aware of don't do anything internally about negative PDFs, they just absorb the negative fluxes and move on.

[2016-03-01 04:44] paulromano commented on #598
@nelsonag scary! How often do you encounter such a thing in deterministic calculations? As far as I'm aware, there are only a few random PDFs in ENDF/B-VII.1 which go negative.

[2016-03-01 10:42] nelsonag commented on #598
@paulromano very frequently.  I have this figure available from my research
which shows the P5 PDFs from H-1 as a function of Ein to the group from a
47g structure that Ein is in, if that makes sense.  It's a little hard to
see details but I think you can get a gist for how many negatives there
are.

In time I can make a figure showing how much of a standard scattering
matrix is representing a PDF

[2016-03-01 13:22] nelsonag commented on #598
I (wrongly) assumed attaching an image to an email when replying to the github email produce the same result as including an image in the web interface.  Now that I am at a computer I can see that's not the case.  So here is the figure I mentioned above.

![withingrp_p5](https://cloud.githubusercontent.com/assets/1037107/13428077/0cca96ea-df86-11e5-9638-09e99de4ba0c.png)

Now that I have a real ke

[2016-03-02 15:01] nelsonag opened #602 "Implement some form of 'sparse array' treatment for scattering matrices in multi-group mode"
Right now the entire GxG scattering matrix is stored and used during the sampling of outgoing energies for multi-group scattering.  Physically speaking, this matrix should be closer to a lower triangular matrix with some sparsity even below the diagonal.  A simple but likely quite effective way to treat this is to simply include g_out_min and g_out_max for every g_in of the matrix and then simply

[2016-03-02 15:17] nelsonag commented on #602
I had some example figures so I might as well include them.  Here are water and fuel P0 matrices for a pincell model.

![scatt_mat](https://cloud.githubusercontent.com/assets/1037107/13464598/e0d053b0-e05f-11e5-9021-32107df7d95b.png)

[2016-03-02 15:45] mellis13 commented on #602
@nelsonag I really like these plots -- do you have the energy bounds of the groups handy?

[2016-03-02 17:09] nelsonag commented on #602
Sure!  I probably wont be able to get to it until later tonight, if you'd like it before then, you can find it in the HELIOS manual as this is the 47-group structure discussed there.

[2016-03-02 17:34] nelsonag commented on #602
Nevermind, had access from here
![47g](https://cloud.githubusercontent.com/assets/1037107/13468918/0d3b714c-e073-11e5-91a2-fb9f3ac73eaa.png)
:

[2016-03-02 19:41] paulromano opened #603 "Proposal: rewrite core codebase in C++"
I often get asked why OpenMC is written in Fortran instead of C or C++ or another language. When I started the code, @bforget and I were interested primarily in developing and studying parallel algorithms for MC transport aimed at overcoming some of the traditional limitations on scalability. As such, we were naturally very interested in Fortran co-arrays, which had recently been added to the lang

[2016-03-02 19:48] smharper commented on #603
:+1: :+1: Yes, I am on-board 100% with this change.  The only major question I have in my mind is, should we try to rewrite the whole thing in one big, painful surge, or should we rewrite it chunk-by-chunk using C-interoperability to keep running with a mixed code base?

[2016-03-02 19:54] smharper commented on #603
Also, I want to mention one other benefit with moving to C++.  Python has a well-used C/C++ API so moving to C++ will allow us to call some of our core routines directly from the Python API.

[2016-03-02 20:03] paulromano commented on #603
@smharper In my opinion, the second option (chunk-by-chunk using C-interoperability) actually sounds more painful and restrictive.

[2016-03-02 20:06] mellis13 commented on #603
Having experienced the limitations of C interoperability while working on the coupling of MOOSE to OpenMC, rewriting OpenMC in C++ would be a great help in multiphysics coupling.  This is probably too late to drastically change the course of my PhD work, but I think it opens up a lot of future research opportunities with other major codes.   Great suggestion, @paulromano !

[2016-03-02 20:07] mellis13 commented on #602
Thanks!

[2016-03-02 20:09] nelsonag commented on #603
![Its Happening!!](http://i.imgur.com/BAZ3gLD.gif?noredirect)

Absolutely a fan of this idea.  This also enables easier GPU algorithm development without having to pay for the PGI compiler.  The only down side is I have now been working with Fortran so long that I am likely very rusty with C++!

I agree with the thought by @paulromano that chunk-by-chunk can be pretty painful and so doing it at on

[2016-03-02 20:11] wbinventor commented on #603
I don't think this comes as a surprise, but I also would be a big supporter of a move to C/C++. I agree with each of @paulromano's reasons to do so. I would extend the "talent pool" reason to include the argument made for the first risk - to paraphrase, any student is better off spending the late night hours of their PhD learning the nuances of C++ rather than Fortran from a career standpoint. Thi

[2016-03-02 20:42] smharper commented on #603
@nelsonag, we don't need a whole other fork, we can just do all of our C++ conversion in a different branch.  We must name this branch "OpenMC++".  When we're done, we can then merge it over to develop

[2016-03-03 00:24] walshjon commented on #603
Adding to the apparent consensus, I'll just underscore @paulromano 's and @wbinventor 's points regarding the value of the proposed switch to future grad students.  I can foresee this delaying the integration of some features currently under development, but that will always be the case.  It seems to me that now is as good of a time as any to rip the band-aid off.

[2016-03-03 04:10] paulromano commented on #603
Great to see that so many are on board with this proposed change. As @walshjon points out, this will certainly cause some pain with respect to integrating features that are currently under development, but I think as long as we are careful with planning, hopefully we can avoid any major problems. For now, don't worry about feature freeze or anything like that -- continue doing whatever you were do

[2016-03-03 15:56] siegela67 commented on #603
I would like to disagree but I can’t.  To me the biggest concerns are related vendor support, especially on the cutting
edge of HPC. Fortran is starting to fall behind quickly. At a recent AMD meeting one of their principle architects asked
the audience (computational scientists) if anyone was still using fortran. Quite a few raised their hand but it was clear that Fortran support
wasn’t high on A

[2016-03-08 01:27] liangjg opened #605 "Check 'cmfd.xml' correctly"
The code crashes when `run_cmfd` is `on` but no `cmfd.xml` file exists, because the variable used for judgement is misused:

[code]
The `cmfd_on` (line 73 in `cmfd_input.F90`) should be `cmfd_run`. `cmfd_run` is the input parameter while `cmfd_on` is initialized after reading  `cmfd.xml`.

[2016-03-08 14:56] paulromano commented on #605
@liangjg Do you want to submit a pull request fixing this?

[2016-03-08 18:21] liangjg commented on #605
Sure. I created the issue because I had though it may be too small to be a PR.

[2016-03-09 13:05] #605 closed

[2016-03-10 15:48] wbinventor opened #608 "Major Shift in Eigenvalue in CE Mode Related to #494"
I've been baffled recently by a major shift in the eigenvalue  (-4000pcm) computed by OpenMC for a few of the geometries I commonly simulate. I finally took some time to track this down and to my surprise, it appears to be related to the introduction of the multi-group mode in #494. The geometries for which I've observed this effect are composed of multiple assemblies from the BEAVRS benchmark. I'

[2016-03-10 15:50] wbinventor commented on #608
By the way, I've observed this same issue for a similar geometry with only the 2x2 assemblies and without the reflector.

[2016-03-10 16:07] smharper commented on #608
Woah!  That's not good.  I'm quite confused though.  #494 didn't modify the CE tests.  (For anyone struggling like me to figure out what files were changed, you can use this:)
[code]

[2016-03-10 16:13] wbinventor commented on #608
Yes, I know! I was hesitant to open this issue for that very reason, but I
did enough homework to convince myself that this issue appeared since that
PR. As for the tests, H-M is a much simpler model than BEAVRS, so I don't
think we can necessarily trust that we can catch all possible issues
(though one would hope...).
On Mar 10, 2016 11:09 AM, "Sterling Harper" <notifications@github.com>
wrote:

[2016-03-10 16:55] nelsonag commented on #608
Sigh.  Nothing obvious stands out at the moment, and this should not be happening.   Whatever it is, sorry about that.  I cant invest any time in to it until tonight of course, but hopefully will get some PR together in short order.

[2016-03-10 18:00] wbinventor commented on #608
Should we expect the results in CE mode to change at all with the inclusion
of MG? In other words, should I not only be surprised that the eigenvalue
dramatically changed, but also that the tallies I use to compute MGXS also
changed?
On Mar 10, 2016 11:55 AM, "Adam Nelson" <notifications@github.com> wrote:

[2016-03-10 18:28] nelsonag commented on #608
No, you should not expect this.  After a quick look, the only feature in your input I don't remember having in any of my own models is the iso-in-lab option.  I also don't see a test for that, so it is possible I could have screwed that up somehow and was none the wiser.  I am not confident enough to put money down on this, but does the problem persist without this option enabled?

[2016-03-10 22:36] wbinventor commented on #608
@nelsonag you hit the nail on the head - when I remove the "iso-in-lab" tag for the code prior to your MG PR the eigenvalue and tallies are exactly the same. In other words, the MG mode simply broke the "iso-in-lab" option and we never knew about it since it wasn't included in the test suite. Fortunately, this probably hasn't impacted anyone other than me since I doubt anyone is using this mode un

[2016-03-11 00:11] nelsonag commented on #608
@wbinventor I haven't the vaguest idea why that would of broke.  I'll blame git ;-).  Getting to a fix very shortly.

[2016-03-11 00:59] nelsonag commented on #608
Alright, that was it.  Sorry about this one folks.  The block of code which performs the iso-in-lab check in from the input was hanging out with the code that checks the <macroscopic> element instead of the <nuclide> element.  I've put that block back in its place.

Here are the results for the problem above:
current develop branch: keff = 0.92086+/-0.00092
the code I am about to submit: 0.95966 +

[2016-03-11 13:19] wbinventor commented on #608
Closed with #609. I'll open a PR with a new test of the "iso-in-lab" feature shortly.

[2016-03-11 13:19] #608 closed

[2016-03-11 13:21] paulromano commented on #608
Thanks @wbinventor and @nelsonag! Happy to sit back and watch the action...

[2016-03-11 13:44] nelsonag commented on #608
Not a problem @wbinventor and @paulromano; sorry for the kerfuffle.

On Fri, Mar 11, 2016 at 8:21 AM, Paul Romano <notifications@github.com>
wrote:

[2016-03-11 13:50] wbinventor commented on #608
Now we all know to start our issues off with the word "Major ..." if we want a quick turnaround, even if (as this case turned out to be) it is a kerfuffle specific to our own use case :-) But in all seriousness, thanks for the help with this @nelsonag.

[2016-03-15 08:56] nelsonag commented on #511
@bhermanmit any more thoughts on this?

[2016-03-15 09:01] nelsonag commented on #530
Seems like this ticket was closed by #556, but I cant be confident in that since I wasnt really involved in the review of that PR and havent used many 'fancy' source definition tricks.  Can this issue be closed?

[2016-03-15 09:12] nelsonag commented on #148
We may consider this one closed per #455: although that PR didnt add collision estimators for all types, I think an issue specifically for dealing with the remaining scores would be more useful

[2016-03-15 12:12] paulromano commented on #530
Yes, this can be considered closed.

[2016-03-15 12:12] #530 closed

[2016-03-15 12:17] nelsonag commented on #599
I agree with the naming scheme @paulromano.  It seems to me that we should follow GND as much as possible, much like how ACE followed ENDF as much as possible (not that I was there for those discussions, but it seems to be the case)

[2016-03-16 13:07] paulromano commented on #148
@nelsonag Reading Bryan's original description, I believe the intent of this issue was addressing the fact that there are scores/filters that can only be used with analog tallies. Side note: I think we're in a much better state these days with respect to not touching global variables when sampling physics (as well as potential cyclic dependencies), so it probably wouldn't be terribly difficult at

[2016-03-21 00:10] nelsonag commented on #562
Now that I see this exists..... yes I want it!
@paulromano does your PPA include compiled versions of MPICH, HDF5 with the configurations we would need?  Could you just pull that in in the travis.yaml file if we were to switch to 14.04?

[2016-03-21 12:12] paulromano opened #613 "Combined k-effective estimator producing NaN variance"
Apparently it is possible to get a NaN for the variance of the combined k-effective estimator. I know that the MC21 folks ran into this issue at one point and I helped get it fixed, and now for the life of me I can't remember what exactly the culprit was. It seems to happen when you have _a lot_ of particles. I saw it when running a case with 78 billion histories. Side note: this run used all 7864

[2016-03-21 12:15] paulromano commented on #562
My PPA only includes OpenMC binaries (compiled with OpenMP but no MPI), so unfortunately it won't be a solution for our dependency woes.

[2016-03-21 17:42] nelsonag commented on #613
First of all, awesome!
Second of all, I can get it in multi-group mode with survival biasing.  In that case, the collision estimator and analog estimator are the same thing, and our algorithm for computing the combined keff NaNs out in that case.  I've been playing around with ways to beat it, but have not gotten anywhere.

[2016-03-21 18:59] nelsonag commented on #613
But hey, there is some good news out of this PR, besides the massive core
count: I now remember what that issue was I couldn't remember! And this is
it!
On Mar 21, 2016 8:13 AM, "Paul Romano" <notifications@github.com> wrote:

[2016-03-22 00:17] nelsonag commented on #594
@wbinventor and @friedmud do you guys have any plans to support in-line self-shielding calculations?  That is, do you expect your mgxs library format to include background cross sections, or subgroup data?

I ask because if not, then the current OpenMC MGXS data is very nearly a superset of all your needs.  From the OpenMOC documentation it looks like you also would have a diffusion coefficient an

[2016-03-22 00:24] friedmud commented on #594
My current plan is to ignore self-shielding all together... just do everything by generating XS directly using OpenMC.  We'll see if I get tired of waiting ;-)

My main issues with the current format are that I need libraries that have multiple material temperature and densities in them.  i.e.: I need to generate XS at 5 different temperatures and 5 different moderator densities and store all of t

[2016-03-22 00:31] wbinventor commented on #594
@nelsonag we have no plans to use OpenMOC as a traditional lattice physics code for in-line self-shielding, but rather as a high-fidelity full-core 3D analysis tool. @PrezNattyGibbs did work on some stuff along these lines early in his PhD, but determined it best to do it separately in his own code and it didn't make it into OpenMOC, nor do we have anyone lined up to continue to this area of work.

[2016-03-22 00:36] wbinventor commented on #594
Btw @nelsonag the process to build the OpenMOC docs locally is identical to that for OpenMC - simply run `make html` inside of our "docs" directory (with sphinx installed).

[2016-03-22 00:40] wbinventor commented on #594
Also I'll add that density could be included in an extension to `openmc.mgxs` as well. I see temperature and densities as being additions to `openmc.mgxs.Library` while angle would be an addition to `openmc.mgxs.MGXS`.

[2016-03-22 05:45] iqranoreen opened #614 "need guid about tallies file"
I am new user of openmc and getting difficulties in making tallies.xml file.
I have a fix source of 14Mev energy. source strength is 10e9. I made 4 cells and 3 surfaces. I want to calculate surface flux and current across surfaces 1, 2 and neutron flux across surfaces 1,2,3. how to write tally file please guide me what is wrong.
if I write
<?xml version="1.0"?>
<tallies>

  <tally id="1" scores="f

[2016-03-22 19:41] paulromano commented on #614
Currently OpenMC only supports volumetric tallies with the one exception of surface current tallies on a mesh. I'll be sure to post a message to the user's group in the future should we add support for surface flux and surface current tallies.

[2016-03-22 19:41] #614 closed

[2016-03-25 21:17] paulromano opened #617 "Confusing documentation for generated microscopic cross sections"
The docstring for `openmc.mgxs.MGXS` seems to indicate that one can specify the "nuclides" attribute to limit what nuclides you get cross sections for (it lists it in parameters and attributes). For one, there is no nuclides argument on `__init__()`, and there is no nuclides setter. If a user sets it explicitly, it just causes things to break on the back-end; the tally is created with all nuclides

[2016-03-25 22:00] wbinventor commented on #617
Thanks for raising this issue @paulromano. Sorry you ran into it in the first place. I've actually not used the custom nuclide option - or at least not in a long while which is likely why this bug crept in. Hopefully the fix in #619 solves the issue. The documentation does seem a bit clunky to read. I'm happy to update that as well (sometime early next week), though I tend to believe that a user w

[2016-03-28 21:31] wbinventor commented on #617
I'm glad this fix worked for you @paulromano! The docstring has been updated - take a look and let me know if it is more clear now.

[2016-03-29 03:17] paulromano commented on #617
Closed with the merging of #619

[2016-03-29 03:17] #617 closed

[2016-03-31 16:11] wbinventor commented on #603
I'm currently at a talk on the Julia language with @samuelshaner and @geogunow, and hearing the entire room laugh at us as a few of the remaining Fortran programmers in the world epitomizes this issue.

[2016-03-31 16:13] siegela67 commented on #603
how many codes using Julia use 1M cores to do productive science?

On Mar 31, 2016, at 11:11 AM, Will Boyd <notifications@github.com> wrote:

[2016-03-31 16:14] siegela67 commented on #603
“a few of the remaining fortran programmers” is a wild exaggeration. Look at the metrics of fortran use at the major supercomputer centers.
who do they think maintains/develops those codes?
Not saying I disagree with language choice change but no need to exaggerate circumstances.

On Mar 31, 2016, at 11:11 AM, Will Boyd <notifications@github.com> wrote:

[2016-03-31 16:15] wbinventor commented on #603
I'm not (yet) a huge Julia fan myself, but seeing the languages that folks use at these talks illustrates just why moving to C++ may be important to foster a sustainable base of developers for the future. And of course the programmers at a Julia talk are not representative of HPC in general.

[2016-04-09 17:03] nelsonag opened #624 "mesh tally indexing in python api error"
Something happened to the indexing of mesh tallies in the python API.  For example, see this result, obtained by the examples/pincell problem run as is:
![screenshot from 2016-04-09 13-01-52](https://cloud.githubusercontent.com/assets/1037107/14405043/3fe8919e-fe53-11e5-8c61-698a0255e471.png)

I get the same result with direct access to the api (like in the [pyapi post processing example](http://o

[2016-04-09 17:09] wbinventor commented on #624
Which version of h5py are you using?

[2016-04-09 18:00] nelsonag commented on #624
@wbinventor 2.6.0

[2016-04-09 18:04] wbinventor commented on #624
Does this issue appear with v2.5? We've seen some odd bugs with h5py v2.6. I'd be surprised if there really is a new issue with our mesh tallies since 1) I don't believe that anything related to mesh tallies has changed in a long time and 2) our test suite *should* have picked up any obvious bugs such as what you are seeing anyway.

[2016-04-09 18:31] nelsonag commented on #624
Interesting point.  Let me revert and get back to you

On Sat, Apr 9, 2016 at 2:04 PM, Will Boyd <notifications@github.com> wrote:

[2016-04-09 19:49] nelsonag commented on #624
Reverting back to 2.5.0 worked, looks like i've got another job for anaconda...

[2016-04-09 21:52] wbinventor commented on #624
Good to hear. Seems like this is really an issue for the h5py team then, correct?

[2016-04-10 10:36] #624 closed

[2016-04-11 12:11] paulromano commented on #624
Yes, I believe it is the [same issue](https://github.com/h5py/h5py/issues/698) that caused regression tests to fail.

[2016-04-15 13:51] wbinventor commented on #432
I think we have improved tremendously in this area over the last six months, most recently with PR #626. As I have been using [Pandas](http://pandas.pydata.org/) and [scikit-learn](http://scikit-learn.org/stable/) (`sklearn`) - two of the most widely used Python packages for data analysis outside of the "core" ecosystem of NumPy, SciPy and Matplotlib - I've come across a couple of niceties in thei

[2016-04-15 15:28] wbinventor commented on #432
Another idea::

* **Link to RTD.** Based on some recent conversations with developers/users here in CRPG, few are aware that RTD exists, which is likely the case for non-MIT developers. A link on our website would be nice to inform those who are on the "develop" branch where to go for up-to-date docs.

[2016-04-24 23:47] friedmud opened #629 "Transposed Scatter XS from MGXS"
Codes other than OpenMOC might expect Scatter XS's to be transposed so that they are "in on column" and "out on rows".  This is the natural choice inside a reactor physics application (so the application of the XS can be done as a vectorizable matvec with the scalar flux).

Would be nice to have the option in MGXS.

[2016-04-25 12:45] paulromano opened #630 "A few proposed changes to Python API"
I'd like to propose that:

1. We get rid of the `GeometryFile` class and instead just put an `export_to_xml()` method on `Geometry` directly. This would better match how we handle materials and settings and remove one level of indirection (thereby making our boilerplate code a little shorter).
2. The methods of `Executor` become regular functions since `Executor` doesn't really carry any state wit

[2016-04-25 12:58] wbinventor commented on #630
@paulromano - first, i'm a fan of proposals 2 and 3. As for 1, minimizing boilerplate code is always a good thing in my book. But my only concern is that the XML file generation may appear fragmented to those (most?) users who are still writing XML by hand. This same concern applies to proposal 4 as well. Perhaps if we doove away from `GeometryFile` and `SettingsFile` we should do the same for `Ma

[2016-04-25 13:00] wbinventor commented on #630
@paulromano - first, I'm a fan of proposals 2 and 3. As for 1, minimizing boilerplate code is always a good thing in my book. But my only concern is that the XML file generation may appear fragmented to those (most?) users who are still writing XML by hand. This same concern applies to proposal 4 as well. Perhaps if we move away from `GeometryFile` and `SettingsFile` we should do the same for `Mat

[2016-04-25 13:09] paulromano commented on #630
Hmm, I do agree that makes it a bit fragmented with `MaterialsFile` and `PlotsFile` still around. I like the idea of moving to `Geometry`, `Materials`, `Settings`, and `Plots`. While I can sympathize with the XML to Python mental transition pains, my opinion is that if we ever want to rename classes to what we think they really should be, now is the time before everyone starts using the API (will

[2016-04-25 13:12] wbinventor commented on #630
Yeah I agree that sooner is better than later. :+1 to moving away from the `*File` paradigm entirely.

[2016-04-27 21:40] #630 closed

[2016-04-29 00:30] wbinventor opened #636 "Refactor Distribcell Paths in Pandas DataFrames"
The Python API's `Tally.get_pandas_dataframe(...)` method permits the an optional `openmc.Summary` parameter for "distribcell" filters. This will enable the use of the OpenCG package to build the "paths" through the CSG tree to reach each and every distribcell instance. With #621 we should be able to eliminate this dependency on OpenCG with the use of the distribcell "paths" included in the "summa

[2016-04-29 00:32] wbinventor commented on #432
I'll add to this my vote to move the links to the example Jupyter Notebooks on [here](http://openmc.readthedocs.io/en/latest/pythonapi/index.html#example-jupyter-notebooks) to the top of the Python API page. They are likely where users should start in order to understand how to compose the objects and methods described in the API documentation.

[2016-04-29 12:48] wbinventor commented on #432
Another thing we could do to simplify/shorten our documentation would be to use the `Material.add_nuclide(...)`  and `Material.add_element(...)` methods championed by @smharper.

[2016-04-29 13:14] paulromano commented on #432
@wbinventor Regarding the last comment, are you referring to our example notebooks specifically?

[2016-04-29 13:17] wbinventor commented on #432
Both the notebooks as well as the scripts in "examples/python". The one advantage of leaving things as they are is that it highlights the object-oriented nature of `Nuclides` and `Elements`, but we don't really take much advantage of that at the moment.

[2016-04-29 13:33] wbinventor commented on #432
We can also use the `Materials.add_materials(...)` convenience method in place of multiple calls to `Material.add_material(...)`. A similar convenience method for `Tallies.add_tallies(...)` would be helpful too. All in the name of reducing the number of lines in our examples

[2016-04-29 13:38] paulromano commented on #432
Alternatively we can make a `Materials.materials` property that is a `CheckedList`.

[2016-04-29 13:45] wbinventor commented on #432
I'm fine with that as long as it's well documented. I've expressed my concerns about `CheckedLists` before (*i.e.,* it's may not be as obvious how to add items to a collection for new users). But this *should*  be a non-issue if new users start from our examples in the first place (as I believe is the case from what I can tell).

[2016-04-29 13:51] paulromano commented on #432
Or another option: make `Materials` list-like itself, so you could have:
[code]

Come to think of it, allowing an iterable of materials to be passed to the constructor is probably the easiest and most non-controversial change to make.

[2016-04-29 13:54] wbinventor commented on #432
Oh nice, I like that idea!

[2016-05-09 00:41] wbinventor commented on #629
Fixed with #638.

[2016-05-09 00:41] #629 closed

[2016-05-11 01:44] wbinventor commented on #636
Closed with #640

[2016-05-11 01:44] #636 closed

[2016-05-12 03:05] paulromano commented on #602
Closed with the merging of #611

[2016-05-12 03:05] #602 closed

[2016-05-23 23:24] smharper opened #652 "Low energy neutrons"
I've discovered a potential problem with the way we compute cross sections for low-energy neutrons.  Currently, if a neutron is below the lowest energy grid point, we assign it to the first grid.  In cross_section.F90:
[code]

We then interpolate between the first two grid points
[code]
which will give a negative value of `f` for `E < nuc % energy(1)`.  Essentially, this will cause us to extrapola

[2016-05-23 23:36] nelsonag commented on #652
Given the smoothly varying shape of cross sections very far in to the
thermal range, extrapolating below the first point always seemed like a
decent approach to me since the cross sections are either 1/v or at worst,
constant.  Are there any cross sections at risk for negative cross sections
due to this approach?

On Mon, May 23, 2016 at 7:24 PM, Sterling Harper <notifications@github.com>
wrote:

[2016-05-24 00:37] cjosey commented on #652
Honestly, as long as the method is consistent, it really doesn't matter.  At such energies, the assumption that a neutron is a point starts to break down and there are no "right" answers.  Further, the evaluators typically make no claims about any data below 1e-5 eV.

[2016-05-24 16:38] cjosey opened #654 "Possible issue with HDF5 1.10"
My computer just updated to rebase everything off of HDF5 1.10. When I run the test suite, basically anything involving tallies fails.  I recompiled forcing 1.8.17 and using Anaconda for my python3 (which still uses 1.8.15 as its basis).  When running this way, none of the tests fail.

As far as I can tell, h5py should support (at least some of the new features of)1.10 as of 2.5.0, and I have 2.6.

[2016-05-24 16:39] wbinventor commented on #654
There is a known issue with h5py v2.6 - do you still run into this issue after downgrading to v2.5?

[2016-05-24 16:41] paulromano commented on #654
Using h5py v2.6 for sure will fail as @wbinventor mentioned. Downgrade to 2.5 and re-open if you still have problems.

[2016-05-24 16:41] #654 closed

[2016-05-24 17:19] cjosey commented on #654
Well, problem solved.  Turns out the known issue in 2.6 is fixed if compiled from source.  Also, h5py 2.5 does not seem to support 1.10 at all, with all tests failing instead of some.

[2016-05-24 17:52] nelsonag commented on #654
When you say 2.6 is fixed if compiled from source, do you mean compiling
from the dev branch of 2.6.x, or simply that when you compile the 2.6.0
source, it works?

I can confirm the 2.5 and 1.10 issues.

On Tue, May 24, 2016 at 1:28 PM, Colin Josey <notifications@github.com>
wrote:

[2016-05-24 19:01] cjosey commented on #654
Ah, I got a bit confused by h5py's git layout.  I thought that since there was a 2.3-2.5 branch, that master was the 2.6 branch.  The commit tagged 2.6 does not work, but master of https://github.com/h5py/h5py works.

[2016-05-25 13:56] nelsonag opened #655 "Tally Merging not performing correctly"
When using the Python API to generate some problems, I've found that the tally merge process is not fully merging all the tallies that it can.  It seems like every merge call merges one tally with another but no more.
This behavior can be readily seen by running the MGXS Example notebook iv locally and viewing the continuous-energy tallies.xml file it produces on the back-end.  Even though a merge

[2016-05-25 19:26] smharper commented on #146
I want to reopen this ancient issue.  The diffusion score was removed but not the transport one.  We should get rid of the transport score, right?

[2016-05-25 19:35] nelsonag commented on #146
I have #511 open for this

On Wed, May 25, 2016 at 3:26 PM, Sterling Harper <notifications@github.com>
wrote:

[2016-05-25 19:37] paulromano commented on #146
Closing as duplicate of #511

[2016-05-25 19:37] #146 closed

[2016-05-25 19:37] smharper commented on #146
Oh, shucks.

[2016-05-25 23:56] nelsonag commented on #511
Now that this has been brought up again by @smharper, anyone else agree this code should be deleted? It doesn't even look like it works correctly to me:

[code]

[2016-05-26 00:59] nelsonag opened #657 "Odd bug in openmc.Mgxs/openmc.Library"
When trying to generate a new MGXS test, I found a very odd issue with the openmc.Library class.  I want to say it's related to confusion in the case of both `scatter matrix` and `transport` mgxs types being present in a library.  To recreate, go to test_mgxs_library_no_nuclides (though I think any of the MGXS tests will do it), and replace the current self.mgxs_types declaration on line 28 with t

[2016-05-26 01:02] nelsonag commented on #657
Also, should the filter type change on mgxs.py:2129 be changed back to `energyout`? This doesnt fix the bug, but it is kind of weird to change the filter type and not change it back in case something else needs it in its prior state.

[2016-05-26 21:18] paulromano commented on #652
I think the risk of negative cross sections is very very small, especially with the 1/v Doppler tail. I've certainly never encountered negatives due to this. I tend to agree with @cjosey that whatever we choose probably doesn't matter.

[2016-05-27 14:50] paulromano commented on #511
Closed with the merging of #658

[2016-05-27 14:50] #511 closed

[2016-05-27 14:52] paulromano commented on #459
Axially-symmetric periodic boundary conditions were implemented in #647. I'll leave this issue open until we implement rotationally-symmetric periodic BCs.

[2016-05-27 21:51] wbinventor commented on #657
This is certainly an odd bug @nelsonag! I think I know what the problem is, though I haven't tried to reproduce the situation yet and won't have time to do so for a few days. The (`MGXS.load_from_statepoint(...)`)[https://github.com/mit-crpg/openmc/blob/develop/openmc/mgxs/mgxs.py#L694] method uses the `StatePoint.get_tally(...)` method to "find" the `Tally` objects in the `StatePoint` with a cert

[2016-05-27 22:15] paulromano commented on #657
I find it rather useful that `get_tally` is not strict so I would vote for an `exact` option or the like.

[2016-05-27 22:33] paulromano opened #659 "Overriding deepcopy in Python API"
Many of our classes override `__deepcopy__` to provide a custom implementation. However, as far as I can tell, the custom implementation doesn't do anything special that a default deepcopy wouldn't do in many of these cases. One reason I can think of for wanting to override `__deepcopy__` is to automatically generate a new `id`, i.e. the copy of a `Cell` would not have the same `id` as the origina

[2016-05-28 23:01] wbinventor commented on #659
I'll try to explain the rationale behind the `__deepcopy__` methods, but it has been quite a while since I implemented this code so I may not do the explanation justice. I've tried to split my comments along the roughly two axes you mentioned @paulromano:

**Shallow vs. Deep Copies of Class Attributes**
It is true that most of the `__deepcopy__` methods simply perform deep copies of each class att

[2016-05-29 13:49] nelsonag commented on #657
Closed with #660

[2016-05-29 13:49] #657 closed

[2016-05-29 21:11] samuelshaner opened #663 "Unable to find merged tally when loading tally from statepoint"
The addition of the `exact` option in the `StatePoint.get_tally()` method in PR #660 has resulted in the `MGXS.load_from_statepoint()` method producing the following error in `mgxs-part-iii.ipynb`:

    # Initialize MGXS Library with OpenMC statepoint data
    mgxs_lib.load_from_statepoint(sp)

    ---------------------------------------------------------------------------
    LookupError

[2016-05-29 21:35] wbinventor commented on #663
This issue is my fault for not having done due diligence for #660. If tallies are merged for `MGXS` during input generation, then the `exact` option will not work when retrieving those tallies from a `StatePoint`. For example, if multiple `MGXS` are created for different cells/materials, their cell/material filters will be merged with a single tally having a cell/material filter with multiple bins

[2016-05-29 21:41] wbinventor commented on #663
One idea would be to have separate `exact_filters`, `exact_nuclides` and `exact_scores` parameters (in the case of MGXS, we would only set `exact_nuclides` to `True` and `exact_filters` and `exact_scores` would be set to `False). Alternatively, `exact` could accept some iterable of items specifying which paramters should be met exactly (*i.e.*, a dictionary with string keys "filters", "scores", et

[2016-05-29 21:45] wbinventor commented on #663
With a more consideration, neither of the "solutions" proposed above would actually solve this issue.

[2016-05-29 23:16] nelsonag commented on #663
So the bug in #657 was found because scatter-p1 from a scatter matrix tally was a successful match when actually looking for scatter-1 from within transportxs. Are all use cases which could 'excite' this error obviated if the search function doesn't consider scatter-p1 a stand in for scatter-1?

[2016-05-29 23:18] wbinventor commented on #663
I'm not sure exactly how to answer your question @nelsonag, but it is worth noting that in the output "statepoint.h5" file there will actually not be *any* "scatter-p1" scores - instead, "scatter-px" scores in the input are expanded into separate "scatter-0", "scatter-1", ... " scatter-x" scores in the output.

[2016-05-30 10:19] nelsonag commented on #594
@wbinventor & @friedmud I started a [gist](https://gist.github.com/nelsonag/2966440de322bca11a046cfb03cecbdd) to capture the format.  Basically its the `mgxs_library.rst` file from our current docs directory, messed around a bit to represent what the h5 format would be.  I based it off of the current mgxs.xml file, obviously, but also the OpenMOC documentation on the develop branch.  By that I mea

[2016-05-30 10:33] nelsonag commented on #594
@friedmud I'm clearly stil cogitating on your material temperature and density concern.
For now I did not include that in the format itself because the xs name gives all the flexibility you would need to store the multiple temps/densities.  One thing I'm struggling with is what the density means to the user if they're using this library for microscopic data.  I suppose a micro/macro attribute coul

[2016-05-30 12:46] wbinventor commented on #594
Thanks for sharing your Gist @nelsonag, it is looking very nice! Although I don't have a near-term use case which calls for temperature- or density-dependence, I do have some thoughts on it which I thought I'd record here. As for density-dependence, I presume @friedmud was referring to functional form of pin cell MGXS on moderator density for coupled multi-physics simulation?

Just as the `MGXS` c

[2016-05-30 13:13] nelsonag commented on #594
Thanks @wbinventor!  Right now I'm thinking the interpolation shouldnt be
up to the MGXS class, instead it should be on the code using the data to do
it internally.  In my experience codes that would want to vary temperature,
density, burn-up, etc, will do it internally.
On May 30, 2016 8:46 AM, "Will Boyd" <notifications@github.com> wrote:

[2016-05-30 13:20] #663 closed

[2016-05-30 19:31] wbinventor commented on #655
Closed with #665.

[2016-05-30 19:31] #655 closed

[2016-05-31 14:02] paulromano commented on #659
**Regarding MGXS** -- why not just do a shallow copy if you want to ensure the objects remain linked?

**Regarding object IDs** -- unfortunately an extra argument on `__deepcopy__` won't be usable because the method signature for `copy.deepcopy` doesn't pass anything to the underlying `__deepcopy__` implementation other than the object and the memo dictionary. So, I think you'd still have to roll

[2016-05-31 22:20] paulromano commented on #659
I've created a [deepcopy](https://github.com/paulromano/openmc/tree/deepcopy) branch where I've gotten rid of most of the existing `__deepcopy__` implementations and rewritten ones for classes with IDs. For the MGXS issue, I create shallow copies of libraries, which seems to work? Let me know what you think @wbinventor.

[2016-05-31 22:40] wbinventor commented on #659
I don't think that the shallow copies of libraries will work as desired for group condensation or subdomain-averaging. Won't that simply condense/average the original `Library` rather than apply the operations to a new one?

Also, I'm curious - do you have a use case in mind where deep copying with new IDs would be advantageous? I really don't see how this is a *good* thing, and find it kind of co

[2016-06-01 15:42] paulromano commented on #659
My original use case was related to #667 -- to place TRISO particles in a lattice, if they overlap a lattice boundary they need to be duplicated in each lattice element which might contain them. In this case, I needed to duplicate each cell defining a layer of the TRISO, and since the surfaces would be translated based on the lattice element origin, the surfaces would be duplicated as well. Even s

[2016-06-01 16:35] wbinventor commented on #659
That's an interesting use case - I can see why you would want to adjust the IDs in that situation. There certainly is no "right" answer here. I recognize that the infrastructure I've developed to support my use case makes the implicit assumption that IDs are not re-generated, but that the code could likely be modified to work with newly generated IDs. That said, my personal intuition for a deep co

[2016-06-20 19:51] friedmud commented on #594
Ok - I finally got the go ahead to put out the YakXS format document.  I'm attaching it here.  Note that it's huge... and we probably don't want / need most of these features but it might give us some ideas...

[yakxs.pdf](https://github.com/mit-crpg/openmc/files/324194/yakxs.pdf)

[2016-06-20 19:52] friedmud commented on #594
Among the things I like about YakXS is the ability to specify sparse scattering matrices... that gets pretty important as group sizes get large.

[2016-06-20 20:41] nelsonag commented on #594
@friedmud Do you like that feature due to the pain of writing all the zeros or the storage?  I ask because its the former, then the user can always generate their hdf5 library with compression turned on.  I think I prefer that route since I get the best of both worlds: I am able to see the complete matrix after its input in to the library so I can do a real quick check on if its been entered corre

[2016-06-20 21:14] friedmud commented on #594
Also because it can reduce computation.... no need to multiply by those zeros either!

But yeah: memory is the big thing.  If you're going to have separate XS for each material in each pin in a full reactor with 128 or 256 energy groups... that's a LOT of zeros...

I would be interested in seeing how effective HDF5 compression is for scattering matrices though....

[2016-06-20 23:05] nelsonag commented on #594
Totally agree on the computation; didnt think of that though as OpenMC's MG
mode automatically takes the dense scattering matrix and converts it to
sparse.

My gut tells me its easy for a compression algorithm to compress a bunch of
0s.  When I get this thing implemented I will include an option in the
Python API to choose some compression options.  We shall see.

On Mon, Jun 20, 2016 at 5:14 PM,

[2016-06-22 14:41] liangjg opened #676 "Duplicate nuclide with S(a,b)"
OpenMC allows duplicate nuclide input in one material, but if S(a,b)  is assigned with the duplicate nuclide, the code is possible to throw an error. Here is an example [sab_bug.zip](https://github.com/mit-crpg/openmc/files/328035/sab_bug.zip) :

material

[code]

result:

[code]

The error is caused by wrong processing of sab nuclide xs in the `calculate_xs()` subroutine, where the first `H` is t

[2016-06-24 13:37] nelsonag commented on #595
Closed by #674

[2016-06-24 13:37] #595 closed

[2016-06-24 13:46] nelsonag commented on #594
@friedmud: I just ran our MGXS  example notebook #4 problem (a single 17x17 assembly with one MGXS set per material and p3 scattering), and running gzip compression at level 9 on the hdf5 MGXS library resulted in a 63% decrease in size.  Thats not great but really not bad at all.

This compression performance should get better too as the library size grows too: I noticed a very small 2-grp library

[2016-06-24 13:47] nelsonag commented on #652
So should we close this issue then?

[2016-06-24 13:53] nelsonag commented on #594
To be clear when I say I ran 'gzip compression at level 9' I mean that I told the HDF5 library itself to 'compress yourself, please'.  I do _not_ mean that I ran gzip on the file from the command line.

[2016-06-24 16:30] smharper commented on #652
Sure, I don't think this is going to be a problem.  Was good to think about, anyway.

[2016-06-24 16:30] #652 closed

[2016-06-28 16:00] friedmud commented on #594
@nelsonag interesting... but when is the decompression done?  Is it done as the file is read?  Because all of those zeros will still take up a lot of memory...

Eventually I really do want some sort of sparse storage for my XS... both for memory and computation.

I like the "format" that the YakXS guys came up with... it incorporates what we know about the physics: that there is a limited ability

[2016-06-29 03:27] paulromano commented on #676
@liangjg Thanks for the bug report. Do you actually run into this for a real situation?

[2016-06-29 03:37] paulromano commented on #134
This issue was resolved some time ago. Note that #484 is not yet resolved however.

[2016-06-29 03:37] #134 closed

[2016-06-29 15:20] liangjg commented on #676
@paulromano  This bug was reported by a user from MITR. He was modeling a research reactor but had a special requirement: to partially use sab for a nuclide in the material, for example, half of the H1 using thermal cross section while the other normal. He tried to input as duplicate nuclide and found the error. I told him how to manually modify nuclide name in cross section library to meet his re

[2016-07-02 05:40] paulromano commented on #562
Looks like [trusty infrastructure now supports caching](https://blog.travis-ci.com/2016-05-03-caches-are-coming-to-everyone)!

[2016-07-15 21:15] mjlong opened #685 "Tally score be undefined?"
master branch Tally.F90, line 64
`if (p % event /= EVENT_SCATTER) cycle SCORE_LOOP`

When p % event /= EVENT_SCATTER, will the uninitialized variable `score` contribute an undefined value to  `t % results(score_index, filter_index) % value`?

[2016-07-15 22:00] paulromano commented on #685
If the event is not scattering, `cycle SCORE_LOOP` just sends control to the top of the do loop and on to the next iteration, so no undefined value would ever be store to `t % results`.

[2016-07-15 22:00] #685 closed

[2016-08-02 15:16] #484 closed

[2016-08-05 14:29] tjlaboss opened #693 "Source distributed over fissionable zones"
It is possible to create a distributed source using the flag `only_fissionable=True` over zones with no fissionable isotopes in them. In this case, OpenMC currently hangs on `Initializing source particles...` indefinitely.

If enough particles are rejected, it should probably raise an error and alert the user.

[2016-08-05 16:07] paulromano commented on #693
Thanks for reporting @tjlaboss! Should be an easy fix.

[2016-08-06 17:40] nelsonag opened #697 "Remove redundant temperature-independent data from HDF5 Datasets"
Some continuous-energy nuclear data is independent of material temperature; this includes the nuclide metadata and, energy-angle information, and for some evaluations, fast energy cross sections for some reaction channels.  To significantly reduce the storage size and better set us up for temperature dependence, it would make sense if the data files for multiple temperatures were 1) combined in to

[2016-08-09 16:14] paulromano commented on #599
Closed with the merging of #684

[2016-08-09 16:14] #599 closed

[2016-08-11 20:02] wbinventor opened #701 "Building with OpenMP without defining CC"
I recently updated to the latest version of develop and ran into an issue building on INL's Falcon supercomputer. In particular, the issue only occurs when building with OpenMP. When I try to configure and build with the following commands:

[code]

I obtain the following error at link time:

[code]

After some trial and error I discovered that if I prepend `CC=mpicc` to the CMake command then the

[2016-08-11 20:05] cjosey commented on #701
The Faddeeva function used for multipole is written in C, which is likely the reason.

[2016-08-11 20:05] wbinventor commented on #701
Yeah, I thought that might be the case since I ran into some other issues when trying to use different compilers.

[2016-08-12 02:02] paulromano commented on #701
Good point, we need to update the documentation for this.

[2016-08-12 09:40] nelsonag commented on #697
I have an interesting finding to share. So I made a script (the one which yielded PR #702) to compare libraries of the same isotope/metastable state at all the temperatures.  I ran tihs so far only on the MCNP6 endf70 data.

I found that _for the most part_ it behaves exactly as you would expect: cross sections and the x/s energy grid are T-dependent and thats mostly it.  This holds for all reacti

[2016-08-18 23:06] #693 closed

[2016-08-18 23:06] #701 closed

[2016-08-19 17:33] wbinventor opened #708 "Inaccessible Distributed Cell Instances"
The distribcell tally filter currently counts instances of cells which are inaccessible in a geometry. For example, if one builds a quadrant symmetric geometry and then decides to only model a single quadrant with reflective boundary conditions, the cell instances in the other three inaccessible quadrants will still be treated with distribcell tallies. Another (perhaps less desirable) scenario mig

[2016-08-22 12:57] nelsonag commented on #697
I wanted to give a little update on this:
- I have revised the pyAPI and openmc-ace-to-hdf5.py to remove the duplicate temperature independent data.  Looks pretty good.  Conversion of ENDF/B-VII.0 (from MCNP), JEFF-3.2, and NNDC ENDF/B-VII.1 data all seem to work great.
  - ENDF/B-VII.0 data from MCNP converted to HDF5 per the develop branch as of yesterday requires something like 2.9GB.  The conv

[2016-08-22 13:07] nelsonag commented on #697
Oh, I should have added what the data format looks like for early digestion:

Within the file `U235.h5`:
[code]

A few notes:
- The energy grids can be made common across all temperatures, at the expense of needing to store more cross sections than necessary (since energies were removed from some temperatures by NJOY's thinning algorithm since they aren't necessary), but that would make temperatur

[2016-08-23 14:42] paulromano commented on #697
@nelsonag Sorry I've been mute so far. This all sounds great. Regarding the S(a,b) table issue, I think your option (b) sounds pretty sensible (having it pick the closest temperature and putting out a warning).

Two suggestions:
- For storing the kTs, you could just have a single dataset that is an array of kTs.
- Store `threshold_idx` as an attribute on the `xs` dataset.

[2016-08-23 15:26] nelsonag commented on #697
I agree with option (b).

- This kT storage thing is a PITA.  I started having a dataset that is an
array of kTs, but then you get to the point that I technically have no
guarantee that the temperature sets will be added to the h5 library in the
order of increasing temperature.  With that constraint I need something
else that ties the index of this kTs array to the temperature itself, or do
a sear

[2016-08-23 15:29] paulromano commented on #697
Re: kTs -- On second thought, it's easy to add a new group/dataset whereas I'm not sure what happens if you try to modify an existing dataset, so I think you're right on this one.

[2016-09-08 10:52] nelsonag commented on #697
Closed by #712.  Yay!

[2016-09-08 10:53] #697 closed

[2016-09-08 10:54] nelsonag commented on #129
@paulromano it looks as if most of the intent of this issue was just closed with #712, though we did not address your question on what temperature grid to store and how to do interpolation.  Thoughts?

[2016-09-16 20:03] paulromano commented on #129
Now that we have interpolation and multipole, I'm going to go ahead and close this issue. There will be more improvements in the future I'm sure.

As far as choosing a temperature grid if using interpolation, that is a question that a user will need to answer for their particular application.

[2016-09-16 20:03] #129 closed

[2016-09-19 21:19] samuelshaner commented on #63
Fixed in PR #717

[2016-09-19 21:20] #63 closed

[2016-09-30 21:58] scopatz opened #727 "HDF5 Fortran Errors"
Hello All,

I am trying to build a conda package for OpenMC for conda-forge.  I am running into many errors of the form:

[code]

I am not sure where this is coming from and various flags to fix this (like `-fdefault-integer-8`) then break fox.

You can find the recipe and the build script I am using here: https://github.com/scopatz/staged-recipes/tree/openmc/recipes/openmc

Can anyone point me in

[2016-09-30 21:58] scopatz commented on #727
Also CC @FlanFlanagan, just so he is aware.

[2016-09-30 22:29] nelsonag commented on #727
Any idea if that hdf5 Liv was compiled with Fortran support? (E.g.,
https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/hdf5-cpp-fortran
)

On Sep 30, 2016 5:58 PM, "Anthony Scopatz" <notifications@github.com> wrote:

[2016-09-30 22:35] scopatz commented on #727
Yes, it was.  You can see the script for how was compiled here: https://github.com/conda-forge/hdf5-feedstock/blob/master/recipe/build.sh#L24

[2016-09-30 22:55] paulromano commented on #727
If you're using HDF5 < 1.10, you also need to specify `--enable-fortran2003`.

[2016-09-30 23:37] scopatz commented on #727
Thanks @paulromano, adding `--enable-fortran2003` to the OpenMC cmake call didn't work and produces the same failures.

[2016-09-30 23:38] scopatz commented on #727
Or do you mean to the HDF5 build?

[2016-09-30 23:58] paulromano commented on #727
Yes, on the HDF5 build itself.

On Sep 30, 2016 6:38 PM, "Anthony Scopatz" <notifications@github.com> wrote:

[2016-10-02 20:27] smharper opened #729 "Handling temperatures just outside the library"
I've run into an issue with the `interpolation` temperature method near 293.6 K.  With the MCNP ENDF71 library, the coldest light water s(alpha, beta) table is at 293.606 K, above our default temperature of 293.600.  So trying to use the MCNP s(a, b) with interpolation will give

[code]

The error is technically correct, but it would be nice if we built in some tolerance for these tiny out-of-boun

[2016-10-03 11:49] paulromano commented on #727
@scopatz Closing this as I am assuming `--enable-fortran2003` fixed the problems. Feel free to reopen if you experience further build issues.

[2016-10-03 12:24] scopatz commented on #727
Hi Paul, I think closing this was premature as I haven't confirmed that f03 was the issue. For whatever reason, it is taking a long time to get the new build of HDF5 approved....

[2016-10-03 12:32] paulromano commented on #727
Premature, maybe, but given that we know the prior HDF5 installation didn't have `--enable-fortran2003`, one would expect to get the exact error you received. We've also had a number of users run into the same problem, so my closing the issue was based on it being a known problem with a known resolution. Again, feel free to reopen if you're still having issues after the new build of HDF5 goes thro

[2016-10-03 13:04] scopatz commented on #727
I don't have permissions to reopen.

[2016-10-03 13:06] paulromano commented on #727
Very well then. I'll reopen and you can close at your leisure :)

[2016-10-03 13:12] scopatz commented on #727
Thanks! I have been working on this throughout the weekend, but not everyone does that and so I am not surprised that the update wasn't merged yet.

[2016-10-04 00:57] scopatz commented on #727
Ok the new hdf5 package does seem to work.  Thanks @nelsonag @paulromano

[2016-10-04 00:57] #727 closed

[2016-10-05 16:17] scopatz opened #730 "Add conda installation instructions to docs."
A conda package for OpenMC is [now available](https://anaconda.org/conda-forge/openmc/files).  OpenMC is now installable via,

[code]

It would be great if this could make it into the relevant part of the documentation!

[2016-10-05 16:28] scopatz opened #731 "get_nndc_data.py not installed to $PREFIX/bin"
This script seems like it is something that users and developers alike would wish to use. However, it is not part of the installation and is missed by `conda build` as a result.  While the conda recipe or the apt package could forcibly push this file into the package, it seems like would be best if this file (and related files) was actually copied over by cmake.

Right now users have to install op

[2016-10-05 16:29] paulromano commented on #731
This thought crossed my mind -- you're absolutely right, it really belongs in scripts. Thanks for bringing it up!

[2016-10-05 16:30] scopatz commented on #731
No problem! Glad it isn't totally out of bounds :)

[2016-10-08 14:45] nelsonag commented on #562
@paulromano FYI I've got a branch right now which uses trusty.  The Travis build has just started, I'll let you know of the success.  I'm going to basically see if the tests pass and then re-run and try and observe if it is using the caching.  Is there anything else I should look for before putting in this 2-line PR?

[2016-10-08 15:31] nelsonag commented on #562
Yeah, the above works fine.  Caching works, and I've also removed the most obvious (per comments) Gfortran 4.6-specific code workaround.

[2016-10-09 19:06] nelsonag commented on #475
@cjosey would you consider this Issue closed by #712, #720 and others?

[2016-10-11 00:55] cjosey commented on #475
Yup, pretty much.  There's a few more algorithms we need to merge once they're published, but the framework's all there now.

[2016-10-11 00:55] #475 closed

[2016-10-16 09:45] nelsonag commented on #562
Closed by #735

[2016-10-16 09:45] #562 closed

[2016-10-18 11:54] #594 closed

[2016-10-18 23:01] tjlaboss opened #743 "openmc-ace-to-hdf5: Thermal scattering materials for Serpent cross sections"
The script `openmc-ace-to-hdf5` doesn't seem to be handling the different thermal scattering libraries properly.

Serpent's data includes JEF-2.2, JEFF3.1, ENDF/B-VI.8, and ENDF/B_VII, denoted by `j2`, `j3`, `e6`, and `e7`, respectively. As an arbitrary example, ENDF/B-VI.8 thermal scattering data for light water might be called something like `lwe6.02t`.

The script prints the warning message `Us

[2016-10-21 18:32] sjwilderman opened #745 "0.7.1 on cygwin: cmake: Could NOT find HDF5 (missing: HDF5_LIBRARIES)"
Trying to build 0.7.1 on cygwin.

have installed HDF5 1.10 and 1.8.7 using cmake, as per their website recommendations.  no errors with 1.10 install, 2 failed tests of 2037 reported with 1.8.7.  In both cases fortran was turned on.

for building openmc:

HDF5_ROOT and HDF5_DIR set to:

/usr/local/(hdf5 download dir)/build/HDF_Group/HDF5/1.10.0-patch1/
/usr/local/(hdf5 download dir)/build/HDF_Group

[2016-10-21 20:13] paulromano commented on #745
Unfortunately I don't know any users who are using cygwin to install and I haven't used it myself in years, so I can't directly help debug the problem. If you are using a recent version of CMake, you might try to just remove the file cmake/Modules/FindHFD5.cmake and use the cmake-provided module by default. Beyond that, I'm not sure what the problem could be. The main issue that I've seen people r

[2016-10-25 18:32] sjwilderman commented on #745
Hi Paul,

Thanks for response.

First, I believe I am actually working with version 0.8.0.  I was confused
because https://mit-crpg.github.io/openmc/index.html refers exclusively to
0.7.1.  But I see that following the install steps there grabs the latest
version, which is 0.8.0.

(note that the links on the users group forum, https://groups.google.
com/forum/?fromgroups=#!forum/openmc-users, also

[2016-10-26 02:27] paulromano commented on #745
Thanks for pointing out the outdated links on the user's group. I've just updated those.

- Don't worry about the `-i_dynamic` warning. Chances are your version of CMake isn't aware of all the correct options for the version of the Intel compiler that you're using.
- "This variable has not been used" messages can be disregarded.
- The library that you are missing, libsz.so.2 (SZIP) is related to H

[2016-10-27 19:57] paulromano commented on #743
I think in this case your best option is to do things manually. It would be hard to have the script handle every conceivable case, and the way things are designed right now, it's difficult to have the same material from different evaluations within the same cross_sections.xml. If you want to do it manually, you'll need to:

1. Convert from ACE -> Python ([ThermalScattering.from_ace](http://openmc.

[2016-10-28 10:39] chzping opened #747 "How to build OpenMC projet file（*.sln） using CMAKE tool for IDE VS2013/IVF2013 ？"
Hi, Dr paulromano:
     Could you help me and tell me the detailed procedures to build OpenMC projet file（*.sln） using CMAKE tool for IDE VS2013/IVF2013 ? Using the latest version source code （0.8.0）with sole HDF5 output format. The key problem is how to configure the HDF5 environment？ I have already build successfully the VS2013 project file with source code version 0.7.0 （with traditional output

[2016-10-28 11:17] paulromano commented on #747
@chzping I have never used Visual Studio so unfortunately can't offer you any words of advice. I believe all of our other developers are also using Linux or Mac.

[2016-10-28 13:03] chzping commented on #747
@paulromano OK. Thanks.

[2016-11-01 12:34] sss646464 opened #749 "About openmc geometry card problem would like to ask, thank you!"
Hello everyone, I am a graduate student of the reactor engineering, I refer to beavrs to write the openmc geometry card, but the error occurred, what is the reason.
thanks  ！
Error reporting:

 ===========================================================================
 ========================>     INITIALIZATION     <=========================
 ====================================================

[2016-11-01 14:32] paulromano commented on #731
Closed by #733

[2016-11-01 14:32] #731 closed

[2016-11-01 14:33] paulromano commented on #730
Closed by #733

[2016-11-01 14:33] #730 closed

[2016-11-02 07:16] sss646464 commented on #749
@paulromano  Thank you very much ！ The mail is sent, but not reply to me. Then I'll close the question.

[2016-11-02 07:27] #749 closed

[2016-11-22 18:42] sjwilderman commented on #745
Paul,

Is there a way to continue this discussion privately?

We have been able to build an exec on the UM ARC cluster using the hdf5
libraries maintained by the ARC staff, but we're having some problems
building hdf5 binaries from ACE files for the pseudo-materials necessary
for our simulations.  If we could get direct help, that would be great.

Thanks,

-- Scott W (and Bill Martin) at UM NERS

[2016-12-01 23:08] smharper opened #766 "String version info for our HDF5 format"
Our HDF5 data has a `version` attribute made of 2 integers for major and minor numbers.  I propose that we use a string instead because it is much more flexible.  Maybe someday in the future we'll suddenly acquire the need for another minor number like `v3.4.1`, or beta numbers like `v2.1b2`, or some other weird versioning information that we can't predict now.

Do you all agree?

[2016-12-02 15:29] wbinventor commented on #766
I'm neutral - I don't see any problem, though I'm also not sure I see the real upside of making this move now when there isn't (yet) a need.

[2016-12-02 16:56] nelsonag commented on #766
While I agree there probably isn't a need yet, if we think the flexibility
is warranted now is the time to adjust.  That way we never have to carry
around code that checks for both a string and 2 integer version number.  If
we do it now we'd only have to carry around code to check just one.

On Fri, Dec 2, 2016 at 10:29 AM, Will Boyd <notifications@github.com> wrote:

[2016-12-05 14:14] paulromano commented on #766
I agree that if we are making a change, let's do it now. That being said, I don't see much value added in going to a string. My thought on the versioning for data is that it should essentially follow semantic versioning: increase the major version when incompatible changes are made and increase the minor version when backwards-compatible changes are made (e.g., addition of new data that doesn't af

[2016-12-05 14:15] paulromano commented on #766
Also, as a point of reference, our output formats use only a single version number right now.

[2017-01-05 17:16] paulromano commented on #465
I believe this can be closed since we got rid of WRITTEN_IDS in 357aa894c8a65fcb595cbe6ac382dee0413ccfb7.

[2017-01-05 17:16] #465 closed

[2017-01-18 14:32] liangjg commented on #676
Closing due to the merging of #777

[2017-01-18 14:32] #676 closed

[2017-02-07 17:44] tjlaboss opened #783 "ValueError in mesh.py"
The method `Mesh.__eq__()` can cause an error when exporting tallies to XML:

`ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()`

Pull request with a fix: https://github.com/mit-crpg/openmc/pull/782

[2017-02-07 17:50] tjlaboss commented on #783
Python code that generates

[code]

Interestingly, if I manually set `mesh.lower_left`, instead of getting it from the geometry, it doesn't seem to cause the error.

[2017-02-09 15:11] paulromano commented on #783
Closing with the merging of #784.

[2017-02-09 15:11] #783 closed

[2017-02-15 02:30] nelsonag commented on #597
Closed by #644, #653, #758, and #778

We now have a MGXS API that is fully integrated with the MG Mode! Yay!

[2017-02-15 02:30] #597 closed

[2017-02-15 15:50] wbinventor commented on #597
Whew, you made all of this happen @nelsonag! Nicely done sir, nicely done.

[2017-02-15 18:30] nelsonag commented on #597
with lots of help from you and the great MGXS API!!

[2017-02-16 17:21] paulromano opened #789 "Ability to define execution sequence"
I'd like to propose a new way to define what OpenMC does when it runs. Right now, this is determined in a pretty unsystematic manner:
- To generate plots, one has to run with a `--plot` command line flag.
- To run an eigenvalue of fixed-source calculation, the `Settings.run_mode` attribute is set accordingly -- note that there are two separate XML elements under the hood, `<eigenvalue>` and `<fixe

[2017-02-16 17:41] wbinventor commented on #789
I like your final idea of making `<particles>`, `<batches>` and `<inactive>` children of `<settings>`.

I'm not particularly convinced of the value for an "action item list" if it only includes very high level actions like plotting, volume calcs, and eigenvalue/fixed source simulations. However, in my experience I very rarely want to plot the geometry AND run an eigenvalue calculation at the same

[2017-02-16 17:47] wbinventor commented on #789
Also it is worthwhile to note that the execution sequence concept can already be realized in Python with openmc.run(...), openmc.plot(...), etc.

[2017-02-16 18:00] paulromano commented on #789
All good points @wbinventor. Volume calculations are the awkward one right now -- I do want a way to run just a volume calculation (I guess it's my fault for not having that in the first place). Longer term I would like to have finer control of execution, like you suggest, being able to change materials / temperatures, etc. My current thought for how to do that is:
- Have OpenMC define a C API. @R

[2017-02-17 12:54] nelsonag commented on #789
@paulromano while either the interim solution in your last post is reasonable, do we need the interim solution or is it not that much more work to just go all the way to the Python bindings?  I defer to your and @wbinventor's judgment on this as I have never gone through this route but it doesn't seem like a drastic amount of work to expose a few functions to C and then Python (or directly to Pyth

[2017-02-17 12:59] paulromano commented on #789
Even if we were to go straight to the Python bindings today, the changes I outlined in my most recent comment are still needed, namely to decouple volume calculations from a normal simulation. I also feel the the XML changes proposed should be made either way as well.

I already have a branch implementing these changes and will PR it along with a few other small change soon.

[2017-02-17 13:14] paulromano commented on #789
@nelsonag you're right though, it shouldn't be too bad to expose a few functions to C and Python. For Python bindings, SWIG is probably overkill- the same could be done with [ctypes](https://docs.python.org/3.6/library/ctypes.html), [cython](http://cython.org/), or [cffi](http://cffi.readthedocs.io/en/latest/).

[2017-02-17 15:17] wbinventor commented on #789
Yeah I agree that SWIG is definitely too much at this point since I think it would expose far too many routines to Python which would easily be mis-used, leading to segfaults (*i.e.*, the routines within OpenMC must be called in a very specific order). Although powerful, an comprehensive set of Python bindings greatly increase the degrees of freedom with which with which users will try to use the

[2017-02-17 15:49] paulromano commented on #132
[OpenDeplete](https://github.com/mit-crpg/opendeplete) (private until released openly) will address depletion needs outside of OpenMC.

[2017-02-17 15:49] #132 closed

[2017-02-17 15:49] paulromano commented on #131
[OpenDeplete](https://github.com/mit-crpg/opendeplete) (private until released openly) will address depletion needs outside of OpenMC. Note that the `openmc.data` module can be used to get a lot of the data discussed here.

[2017-02-17 15:49] #131 closed

[2017-02-17 15:50] paulromano commented on #39
This was addressed by #688.

[2017-02-17 15:50] #39 closed

[2017-02-17 16:01] paulromano commented on #531
I believe this was addressed a long time ago. Duplicate scores are no longer allowed.

[2017-02-17 16:01] #531 closed

[2017-02-17 16:26] paulromano commented on #510
This is now part of our [style guide](http://openmc.readthedocs.io/en/latest/devguide/styleguide.html#whitespace-in-expressions).

[2017-02-17 16:26] #510 closed

[2017-02-17 16:28] paulromano commented on #317
This was addressed by @samuelshaner's excellent PR #741.

[2017-02-17 16:28] #317 closed

[2017-02-18 11:10] nelsonag opened #791 "Creation of example notebooks showcasing non-obvious capabilities of MG mode"
As pointed out by @wbinventor in #787, example notebooks are needed to showcase capabilities of MG-mode that are not very standard.  This series would likely be in a new 'chapter' of example notebooks.  Information I expect to include in the notebooks are:

- [x] Start basic, calculating C5G7 or some other similar LWR-type problem with an existing MGXS dataset.  This case will not use anything adv

[2017-02-19 13:23] stangmechanic commented on #603
I'd also support this. I notice it's an old thread, any movement? I'd like to pitch in.

Also, I've never been a fan of C++ (I think it's too smart for me). I'd support the idea of keeping it more C like, only using C++ when necessary.

[2017-02-21 20:31] paulromano commented on #613
Fixed in #792

[2017-02-21 20:31] #613 closed

[2017-02-21 20:34] paulromano commented on #789
Closed with #790

[2017-02-21 20:34] #789 closed

[2017-02-22 16:38] tjlaboss opened #795 "Python API: mgxs.FissionXS.print_xs()"
The method print_xs() of class openmc.mgxs.FissionXS fails with the following error message:

[code]

[2017-02-22 16:43] tjlaboss commented on #795
This can be reproduced by cell [31] of http://openmc.readthedocs.io/en/latest/pythonapi/examples/mgxs-part-iii.html

[2017-02-22 18:17] wbinventor commented on #795
@tjlaboss I don't see this error with the latest version of the "develop" branch. Which Git commit are you using? Are you able to update your version?

[2017-02-22 20:42] tjlaboss commented on #795
@wbinventor

**Git SHA1 | 5afd4c369fab20b8f296dc339e1f39a62171de15**

I'll pull the latest develop ASAP and see if this resolves it

[2017-02-22 20:43] wbinventor commented on #795
Ok great. I'm not sure why `MGXS.print_xs(...)` would fail for that commit, but hopefully you won't see this issue with the latest version of the code.

[2017-02-22 21:56] tjlaboss commented on #795
Yep, looks like it's been fixed since the build i was using!

[2017-02-22 21:56] #795 closed

[2017-02-23 13:57] wbinventor opened #796 "Improve XML parsing performance for distribmats"
I've been modeling some PWR benchmarks with pin-wise depleted isotopics (400+ nuclides per pin) using @cjosey's OpenDeplete, which makes use of OpenMC's distribmats functionality. This has exposed a bottleneck in the XML parser when reading in large "materials.xml" files. OpenMC hangs at this stage for about 2 minutes for a single PWR assembly problem (download the inputs [here](https://www.dropbo

[2017-02-23 15:50] paulromano commented on #796
My initial plan is to replace FoX with the [RapidXml C++ library](http://rapidxml.sourceforge.net/) (unless anyone has a better suggestion) and expose a few key functions that can be called via Fortran/C interoperability.

[2017-02-24 04:29] paulromano commented on #766
Closed with #794

[2017-02-24 04:29] #766 closed

[2017-02-24 13:37] wbinventor opened #797 "Implement distribcell/mat algorithm in PyAPI"
It would be very helpful to implement the distribcell/mat algorithm directly into the PyAPI for input preparation and tally data processing. For example, it would help automate the preparation of distribmat inputs for pin-wise depletion calculations with @cjosey's OpenDeplete framework.

Although I haven't given too much thought to this, I would initially propose the following new additions to the

[2017-02-24 18:26] RonRahaman opened #798 "O18 cross-section in Python API but not in NNDC data"
Last time I downloaded the NNDC data (using the `openmc-get-nndc-data` script) I noticed that I didn't get the O18 cross-sections:
[code]

I only noticed this because the Python API includes O18 in the list of isotopes (see `openmc/data/data.py`).  So after I run a script like `examples/python/pincell/build-xml.py`, which calls add_element('O'), the resultant materials.xml file contains O18, and I

[2017-02-24 18:28] RonRahaman commented on #798
BTW, I'm not blocked by this issue, since I can manually edit the materials.xml file to delete O18.

[2017-02-24 18:33] paulromano commented on #798
There is some element trickery that goes on behind the scenes. We recently changed OpenMC to only support natural elements in the Python API. So, when you add an element to a `Material`, at the time it is being written to XML, it will expand the natural element into its isotopic constituents based on their known natural abundances. This is supposed to happen in a smart way -- if you specified `Mat

[2017-02-24 18:39] RonRahaman commented on #798
Thanks, Paul.  I was running build-xml.py inside my IDE, so OPENMC_CROSS_SECTIONS wasn't defined there.  When I run build_xml.py in the shell, where OPENMC_CROSS_SECTIONS is defined, the script produces a compatable materials.xml.

[2017-02-24 18:39] #798 closed

[2017-02-24 21:01] paulromano opened #801 "Test failures on macOS"
As discussed on [openmc-users](https://groups.google.com/d/topic/openmc-users/9CeBcs9KwNw/discussion), several tests in our regression suite fail on macOS 10.12.3 using homebrew/gfortran. The differences in results look very small but should nevertheless be addressed at some point.

[2017-02-24 21:36] paulromano commented on #796
I made really good progress on this yesterday and today. I ended up using [pugixml](http://pugixml.org/) which is just as fast as RapidXml, actively maintained, and has a more intuitive API. I created an example which reads all nuclide densities from a materials.xml file into an array of the following type
[code]
To read and store all the nuclide densities in a 22 MB materials.xml file took 0.472

[2017-02-25 00:12] cjosey commented on #796
While XML is fine and all, would it be better to use an HDF5 materials file (or perhaps all the inputs)?  We can parallel write an HDF5 file.  The downside is that either we'd have to support both XML and HDF5 as options, or provide a converter script to convert XML to HDF5.

[2017-02-25 14:18] nelsonag commented on #796
Seems like that last question by @cjosey could be re-characterized as "should we even have ASCII/XML input anymore or should we only support the Python API for model entry?"

While I'd love the removal of all the XML baggage, I still vote for some form of ASCII entry. I often rely on the ability to get in there and tweak individual items in the XML and rerunning instead of via the python. On the p

[2017-02-25 16:31] wbinventor commented on #796
First, it sounds like pugixml is much faster than Fox, so I fully support migrating to it.

As for HDF5 support, I agree with both @cjosey and @nelsonag. I don't think it makes much sense to write large ASCII files full of floating point data (i.e., depleted nuclide number densities). Not only is this incredibly inefficient in terms of storage, as @cjosey points out it forfeits the potential to us

[2017-02-25 20:24] cjosey commented on #796
I didn't suggest the removal of XML.  I saw two options that didn't substantially reduce user-friendliness: an alternative HDF5 materials file or using XML as an intermediate format.

The first would increase the complexity of the Fortran code and still require maintaining an XML library in the codebase.  It would be the most current-user friendly.

The second option would offload much of the comp

[2017-02-26 23:59] wbinventor opened #804 "OpenMC-OpenMOC Compatiblity Module"
The PyAPI currently has an `openmc.opencg_compatible` module to support compatiblity of OpenMC geometries with OpenCG. This is currently most useful for those who may be exporting OpenMC geometries to OpenCG, and subsequently to OpenMOC, for deterministic multi-group calculations with MGXS generated by OpenMC. I am in the process of "retiring" OpenCG and would like to replace `openmc.opencg_compat

[2017-02-27 18:02] paulromano commented on #796
Ultimately I'd like to be able to set/modify nuclide densities in memory which would obviate a lot of these concerns. In the meantime, I can attest that there are many users who like having ASCII inputs. I don't think anyone is against improving our XML parsing, so that is what I am currently working on given the terrible performance of FoX. I wouldn't be opposed to having an HDF5 option too.

One

[2017-02-28 19:23] RonRahaman opened #808 "Use MPI_Initialized?"
Recently, initialize_mpi() was updated to take an intracomm as an argument.  However, the subroutine always calls MPI_Init().  If I already have already initialized MPI in another driver, then initalize_mpi() will crash.

Would you consider calling MPI_Initialized first, to see if MPI_Init has already been called?

[2017-02-28 19:25] paulromano commented on #808
Yes, good point; I'll submit a fix for that.

[2017-03-01 13:30] paulromano commented on #797
@wbinventor Are you planning on implementing these methods yourself at some point?

[2017-03-01 15:39] wbinventor commented on #797
It was on my near-term agenda, since I may be the developer most familiar with the "distribcell" algorithm at this point. In fact I was planning to start on it today, after I remember how our Fortran code executes the algorithm :-)

[2017-03-01 15:42] wbinventor commented on #808
Closed with #810.

[2017-03-01 15:42] #808 closed

[2017-03-01 15:42] wbinventor commented on #804
Closed with #806.

[2017-03-01 15:42] #804 closed

[2017-03-01 18:23] wbinventor commented on #797
I've started working on this on my "pyapi-distribcell" branch. Thus far I've introduced a new `Cell.num_instances` property which is initialized by the `Geometry.count_cell_instances()` method. This differs a little from what I proposed above with a `Geometry.get_num_instances(cell)` method. If anyone has any issues with this, let me know; otherwise I'll implement a `Material.num_instances` proper

[2017-03-01 18:33] paulromano commented on #797
Sounds more Pythonic to me :+1:

[2017-03-02 17:19] wbinventor commented on #797
My first stab at this is now available in #813 - in particular, the total number of cell and/or material instances can be counted with the PyAPI. I have not yet implemented the more complicated code to get the "paths" through the CSG tree to each instance of a cell or material. If my understanding is correct, this is actually *not* needed by OpenDeplete, is that right @cjosey? If not, then I will

[2017-03-03 13:43] nelsonag commented on #791
I've got this mostly done.  I should add that the final major bullet will end up looking substantially different than the pin-cell model for angle-dependent libraries.  I actually switched to a rodded BWR 8x8 assembly.  This model had a strong dependence on angle (isotropically-weighted MGXS had a ~1000 pcm bias in the MG mode solver, and angular-dependent MGXS brought that down to 70pcm) which I

[2017-03-03 16:46] wbinventor commented on #791
I'm excited to see the new notebook(s) @nelsonag! I'm fine displaying the collection of notebook "recipes" more prominently on the website. Although I think they are fairly prominent already, many new users don't click on our "Python API" link. I've found myself directing them to that part of our site many times in the past. That said, I think @paulromano and @smharper and you should make this cal

[2017-03-03 17:09] wbinventor commented on #791
On a related note, I think it would be cool to spruce up the hyperlinks for the different notebooks, regardless of where we choose to put them. If possible, it would be nice to use a representatve plot from each one as the link, similar to what is done to showcase examples on scikit-learn's website. People like to click on pretty figures more than they do boring text. This might not only direct mo

[2017-03-03 17:22] paulromano commented on #791
I'm hoping in the next few weeks to do a major rewrite of our documentation, so this would be fair game. I think overall the Python API needs to be emphasized in our user's guide, reflecting the fact that we encourage people to use the API over writing XML files directly. Keep the suggestions flowing!

[2017-03-03 22:11] felixletkemann opened #815 "Update "openmc-statepoint-3d" script with latest PyAPI"
When I try to execute
`openmc-statepoint-3d statepoint.100.h5 -o output.silo`
I get an error like this:
`Traceback (most recent call last):
  File "/home/felix/Entwicklung/anaconda3/bin/openmc-statepoint-3d", line 393, in <module>
    main(args[0],options)
  File "/home/felix/Entwicklung/anaconda3/bin/openmc-statepoint-3d", line 123, in main
    sp.read_results()
AttributeError: 'StatePoint' objec

[2017-03-03 22:48] wbinventor commented on #815
@felixletkemann it appears that the "openmc-statepoint-3d" script is far out-of-date - it hasn't been updated since late 2015. The OpenMC Python API has changed dramatically since then and as a result, it's not surprising that this script no longer works. In addition, the script isn't included in our test suite so it has been easy to overlook as we continue to develop the Fortran and Python codeba

[2017-03-03 22:51] felixletkemann commented on #815
Thanks for the fast answer!
Is there any replacement for openmc-statepoint-3d ? Maybe it should be changed in the documentation as well since this is the only thing i found in the docs in order to visualize the results.

[2017-03-03 22:55] wbinventor commented on #815
At present there is no replacement; either the existing script must be revised or a new one must be developed from scratch based upon the latest version of the PyAPI (which is well documented [here](http://openmc.readthedocs.io/en/stable/pythonapi/index.html)). Very good point about the documentation being out-of-date with regards to this script. I believe there is some motivation to update some o

[2017-03-03 23:00] felixletkemann commented on #815
Okay, thank you very much for the information! Maybe I will look into the documentation and give it a try. :)

[2017-03-03 23:08] samuelshaner opened #816 "Multi-group tallies with energy out filter invert order of tally data"
When using an energy out filter on a tally in multi-group mode, the tally data is printed out in `tallies.out` such that the data for the highest energy groups are assigned to the lowest energy group (see below for the pincell_multigroup test problem with a tally added with an energy out filter). I believe this error also inverts the data in the Python API as well.

 =======================>     T

[2017-03-05 11:58] nelsonag commented on #816
Closed by #817

[2017-03-05 11:58] #816 closed

[2017-03-06 13:28] smharper opened #820 "Tally mesh filters fail for very small meshes in very big geometries"
If a neutron is far away from a mesh with small cell widths, then the `get_next_bin_mesh` method can reach `MAX_SEARCH_ITER` while trying to find the cell that the particle intersects.  I didn't think this case would happen because it doesn't make sense for normal reactor calculations, but (as these things always go) there is some researcher who needs that corner case.  "Thanks" @bforget for keepi

[2017-03-06 20:00] cjosey opened #822 "PugiXML issue with older g++"
Tested with GCC 4.8.4, GCC 5.4.0, and GCC 6.3.1.  Fails in the first two.

The PugiXML API has a preprocessor variable, ``PUGIXML_HAS_LONG_LONG`` that is only set to ``True`` if ``__cplusplus >= 201103``, or in other words, it exposes C++11 support.  By default, all versions of GCC prior to 6.0 default to ``__cplusplus = 199711``.

This preprocessor variable enables the ``to_llong()`` functions.

[2017-03-06 20:12] paulromano commented on #822
I was able to get it to work with gcc 4.8 (and Travis does too). This line in CMakeLists.txt should handle it:
[code]
This causes the `-std=gnu++11` flag to be used, which in turn makes `__cplusplus` be `201103`. Maybe your CMake version is too old? What version are you using?

[2017-03-06 21:15] cjosey commented on #822
Yup, that solves it.  The default CMake in CentOS/RHEL is 2.8.12.2.  If I install the cmake3 package, it now works.

It appears that ``CXX_STANDARD`` was first added in CMake 3.1.3.  Should I just PR a change switching the required CMake version to 3.1.3 in ``CMakeLists.txt``?

[2017-03-06 21:24] paulromano commented on #822
Hmmm, that's weird because Travis uses Ubuntu 14.04 which only has 2.8.12.2 as well. Let me investigate further.

[2017-03-07 18:20] #822 closed

[2017-03-09 14:03] wbinventor opened #828 "ScattterMatrixXS.print_xs() fails with histogram bins"
The `ScatterMatrixXS.print_xs()` method fails when the `scatter_format` property is set to `'histogram'` for the outgoing angular representation. I noticed this while checking that the histogram representation works for consistent scattering matrices introduced in PR #807. Since this an issue that plagues both the current `ScatterMatrixXS` class as well as the new consistent formulation, and since

[2017-03-09 17:46] tjlaboss opened #829 "Problem selecting root universe for older models"
I'm working with an older, pre-existing OpenMC model of TREAT. The model only exists in xml (not created through the Python API).

The old model has a lot of universes, not all of which are used to fill cells. Since commit 8be6a5860360503da0ae9779dd51b699e12cfce9, OpenMC no longer detects that the TREAT model's Universe 0 is the root universe.

If OpenMC can't find an obvious root universe through

[2017-03-09 17:49] paulromano commented on #829
Hmm, interesting point. What is the reason for having universes that are not used anywhere?

[2017-03-09 17:55] tjlaboss commented on #829
Good question. I don't know: this is an old model not made by me. (You can see the geometry xml here in this private repo: https://github.com/mit-crpg/treat/blob/master/original/geometry.xml)

I'm not sure why there are universes that aren't used, but there's a whole lot of XML I'd have to go through by hand to find out which they are. A workaround would be nice, and there are probably other legac

[2017-03-09 18:22] paulromano commented on #829
No need to do that by hand -- a short script can be used to inspect the geometry to see which universes are not used. I'll take a stab at that and let you know what I find.

[2017-03-09 23:39] paulromano opened #830 "Universe.plot doesn't work for distributed materials"
The title pretty much says it all. This shouldn't be too difficult to fix now that we have better support for distributed cell/material paths though.

[2017-03-10 23:06] nelsonag commented on #828
Ah, good catch. There should be another loop within the inner loop of the print which deals with histogram bins.

[2017-03-10 23:07] nelsonag commented on #828
I will get to that after #807 is merged

[2017-03-11 01:10] #828 closed

[2017-03-11 01:10] wbinventor commented on #797
Closed with #821.

[2017-03-11 01:10] #797 closed

[2017-03-11 01:11] wbinventor commented on #796
Closing with #814.

[2017-03-11 01:11] #796 closed

[2017-03-12 10:08] felixletkemann commented on #815
There is another thing missing in the documentation: It is no possible to find anything about length units. In the geometry.xml there are coeff-values but there is no information if this is meter, inch, cm oder anything else. Its simply not possible to create an object of a distinct size with this information missing. Maybe someone can add it to the documentation?

[2017-03-13 14:52] paulromano commented on #815
@felixletkemann Thanks for pointing that out. I'll add that to the documentation. For reference, length is in centimeters, energy is in eV, and time is in seconds.

[2017-03-14 15:47] nelsonag commented on #791
Closed by #818

[2017-03-14 15:47] #791 closed

[2017-03-15 15:06] wbinventor opened #833 "OpenMC MGXS Libraries are very slow to load"
I recently learned from @geogunow that it is now insanely slow to load MGXS libraries from a statepoint file (*i.e.*, the `openmc.mgxs.Library.load_from_statepoint(...)`). I've confirmed this with some recent tests with the BEAVRS model. My hunch is that I changed something in #807 which has led to this drastic slowdown, but I'm not sure. If anyone has noticed a major slowdown in simply loading ta

[2017-03-15 15:23] wbinventor commented on #833
The culprit much easier to track down than I expected, and originated with 7ca46e809ce01fe7857ae36072822a1718f01aaf. Evidently the `Geometry.get_all_*(...)` methods are now much, much slower than before. Rather than fix these methods, I will fix the way the `MGXS` class obtains its domain from the `Summary` object. I'll submit a PR for this shortly.

[2017-03-15 19:56] paulromano commented on #833
Any idea why `get_all_*` is much slower?

[2017-03-15 21:44] wbinventor commented on #833
I'm not entirely sure. Are dictionaries really that much slower to populate than lists?

[2017-03-20 03:24] paulromano commented on #729
@smharper One thought on this issue -- is it not sufficient to just change the default temperature to 293.606 K in this case? i.e.
[code]

[2017-03-20 19:24] smharper commented on #729
Setting the default to 293.606 does not work, but 293.607 does.

@johnnyliu27, you said you wanted to try a small OpenMC PR, right?  This could be a good one to fix.  If you're interested, maybe we could talk about how to add this tolerance to the interpolation code.

[2017-03-20 21:04] paulromano opened #837 "Volume calculations over mesh"
Right now we support cells, materials, and universes for stochastic volume calculations but not meshes.

[2017-03-20 23:06] johnnyliu27 commented on #729
Thanks! @smharper I'll try to fix this one.

[2017-03-21 19:12] smharper commented on #729
@johnnyliu27, you and I discussed whether or not we should output a warning for when the code substitutes 293.606 for 293.600.  After thinking about it a little more, I don't think we should print out a warning.  If we print too many warnings, we risk having users ignore them.  If our tolerance for this substitution is something like 1 K, then I'm not worried about a "silent" adjustment because th

[2017-03-21 20:54] paulromano commented on #829
Here's a quick script I wrote that will find universes that are not used:
[code]
When I run this on your geometry.xml file, it says universes 0 and 6 are not used as fill, so universe 6 is the culprit.

[2017-03-21 23:48] johnnyliu27 commented on #729
@smharper Yes I agree, then the value for the tolerance might be the next thing to discuss, like 1.0 K or 0.5 K? As @paulromano mentioned in #838, the value for "default room temperature" could be either 293.15 K or 293.6 K, and a tolerance of 0.5 K will work for both values.

[2017-03-22 00:46] smharper commented on #729
Let's use 1K.  That makes the most sense to me since we round to the nearest K anyway in our programming structures.

[2017-03-22 00:55] tjlaboss commented on #829
Thanks Paul, the model works with the extra universe removed.

[2017-03-22 00:55] #829 closed

[2017-03-22 16:25] paulromano opened #841 "Tally filters as first class objects"
Right now, tally filters appear as their own independent objects in the Python API, but the dirty truth is that down at the XML and Fortran level, they really don't exist outside of a tally itself. Crucially, if you define a filter in the Python API and then use it in multiple tallies, it actually gets replicated. This means that at tally-time, these replicated filters get checked redundantly, whi

[2017-03-22 16:38] paulromano opened #842 "User's guide revamp"
So, our user's guide is really not suited towards someone who wants to use the Python API to generate models, run OpenMC, and post-process (even though that's what we are encouraging all users to do these days). It really needs a thorough rewrite to explain the basics of using the Python API. I'm trying to decide whether I want to tackle this for [v0.9](https://github.com/mit-crpg/openmc/milestone

[2017-03-22 16:56] smharper commented on #841
I would vote for the second option i.e.
[code]
because bins are a required positional argument, but the id number is an optional keyword argument.

Looking at it from that perspective, this option is not necessarily inconsistent with the other objects.  It's just that the other objects are a degenerate cases where there are no positional arguments.

[2017-03-22 17:00] smharper opened #843 "Allow root universes with id != 0"
Workshops have a special magic that makes our little idiosyncrasies very apparent.  One thing I noticed at the last one is that it's quite silly that we require the root universe to be given the `id` of 0.  I think we can probably modify the code to accept an optional element in geometry.xml specifying the id of the root universe.

[2017-03-22 17:04] smharper opened #844 "Use fewer `.id`s in the PythonAPI"
Another tricky one to explain at workshops:  We sort of try to hide the concept of `id` numbers from the user by making them an optional keyword argument in most of our constructors, but you still need to use them when you create a `TallyFilter` or specify a `Plot.col_spec`.  I would like to make those objects accept e.g. `Cell` objects and grab their `id`s at export time.

[2017-03-22 17:11] paulromano commented on #843
I actually fixed this in #821. Done!

[2017-03-22 17:11] #843 closed

[2017-03-22 17:15] paulromano commented on #844
Totally agree -- let's fix that. The `Plot` one was already taken care of in #826, so specifying IDs when using filters is the last remaining area where you have to manually say `.id`. I guess the reason we use IDs is that if you read back a `Tally` object from a statepoint, it won't be able to recreate the same object unless the summary file is linked. These days that's usually a good assumption

[2017-03-22 17:17] paulromano commented on #841
That is a compelling argument. I tend to agree. If we stick with that syntax, then we don't necessarily need to make any changes for v0.9. I'll leave the issue open for now though in case anyone else wants to disagree and make an argument.

[2017-03-22 17:24] smharper commented on #844
Maybe we can avoid that question by only ever storing `id`s on the `TallyFilter`s.  We can adjust the `bins.setter` method to simply strip the `id` numbers from e.g. `Cell`s passed to it.  In other words, make these two options have identical effects:
[code]

In the long run, there are probably advantages to storing the `Cell`s themselves, but I think we can quickly implement the `id` stripping no

[2017-03-22 17:24] smharper commented on #843
Nice!

[2017-03-22 17:31] paulromano commented on #844
Yeah, I was thinking that too. Do you want to implement this or should I take it?

[2017-03-22 17:32] paulromano commented on #844
Or, we can have a newcomer try to attack this since it is relatively simple.

[2017-03-22 17:57] smharper commented on #844
I'm assigning @giudgiud.  I don't see a way to assign him with the official GitHub thing.  Maybe he has to be a collaborator first?

[2017-03-22 18:29] paulromano commented on #815
You'll now find information about [physical units](http://openmc.readthedocs.io/en/latest/usersguide/input.html#physical-units) in the user's guide.

As far as the statepoint-3d script, I was taking a look at it and it is *really* outdated. I don't even know if it makes sense to refactor it; rather it needs to be completely rewritten. For now, I'm considering removing the script and the mention of

[2017-03-22 18:35] smharper commented on #844
To be a little more explicit about the proposed change:

Consider this example of creating a CellFilter:
[code]

That always calls this method you see defined for the `Filter` class in filter.py
[code]

We want this method to be a little bit smarter so that we can do something like
[code]
or
[code]

The most obvious approach would be to overload the `bins.setter` method for each of the relevant fi

[2017-03-22 19:32] nelsonag opened #845 "MDGXS Part ii notebook does not work"
As noted in the title and in a few PRs, the second MDGXS notebook does not run to completion.This needs to be fixed before v0.9.

[2017-03-25 18:07] felixletkemann commented on #815
Awesome that you fixed that! :)
I just got used to use openmc without plotting anything, but it would still be nice to do so. Unfortunately I didn't get good enough at this to be able to rewrite this script.
And when I got good enough at this I guess the first thing to do for me would not be to fix this script but to write something that allows me to convert CAD files to geometry.xml files.

[2017-03-26 21:51] cjosey commented on #833
I'm not sure if this is helpful or not, but since I needed to know how much slower dictionaries were as well, I wrote this script: https://gist.github.com/cjosey/3b4acb408358746595df8d26983130fc

I modeled it after what I understood from the OpenMC code.  From this, lists are about half as fast.  If you remove sorting, the list code is now 3x faster.  So, either I've missed some form of complexity

[2017-03-31 16:03] paulromano commented on #841
Seeing no objections, I will consider the decision to be made that we'll stick with `Filter(bins, id)`. We'll shoot for getting an actual implementation in v0.10.

[2017-04-03 18:48] samuelshaner opened #847 "Energyout filter for fission scores not working for fixed source problems"
When trying to run a fixed source simulation with a `prompt-nu-fission` score and an `energyout` filter I get a seg fault (in continuous energy mode) or zeros (in multi-group mode). Attached are the `settings.xml` and `tallies.xml` that can be placed in `examples/xml/pincell` and `examples/xml/pincell_mutigroup` to replicate the issue (the `energy_mode` attribute will need to be toggled for CE/MG)

[2017-04-03 19:00] paulromano commented on #847
I've encountered this too -- thanks for creating an issue. The problem is that for fission, the `energyout` filter relies on the fission bank, which is not used for fixed source simulations. Instead, we'd have to check particles in the source bank.

[2017-04-07 16:38] #842 closed

[2017-04-07 16:38] #845 closed

[2017-04-09 20:04] wbinventor opened #853 "Tracklength tallies by nuclides fail with multipole XS"
I recently found with the help of @salcedop that there is an issue when tallying by nuclide with multipole cross sections. In particular, the code segfaults when transitioning from inactive to active batches with the following trace:

[code]

I'm not sure why this bug is only occurring now, since I didn't run into it for the same (or very similar) benchmarks only a few months ago. Any ideas @paulr

[2017-04-09 20:12] wbinventor commented on #853
I should clarify that I see this issue when using a tally reminiscent of those used by @cjosey's OpenDeplete code - namely, with the following scores:

[code]

for each nuclide in the fuel. I was not interested in most of these scores (aside from `fission`) when modeling my benchmarks with multipole XS a few months ago, so that is one crucial difference. And in fact, the segfault is avoided when I

[2017-04-10 13:18] paulromano commented on #853
What happens is that when multipole is turned on and the particle energy is within the resolved resonance range, no temperature index is set for cross sections. Then, when a specific reaction needs to be tallied, it tries to use the temperature index to figure out which cross section to use. For everything other than (n,gamma), we can just put in a special check that will set the cross section to

[2017-04-10 15:51] cjosey commented on #853
As WMP is defined, all XS are zero aside from (n, gamma), elastic, and fission.  These are stored in array ``micro_xs`` and do not need recomputing.  This is how it is _currently_.  Some research is being done to generalize it to more reaction rates, but this is a long way off.

The quick and dirty fix would then be to do a check if the XS was last computed with multipole.  If so, it is zero unles

[2017-04-10 15:54] paulromano commented on #853
I have a quick and dirty fix for this that I'll submit shortly. I agree with @cjosey that some refactoring would help cut down on code bloat and would be a little more bug-proof.

[2017-04-10 17:12] GiudGiud opened #855 "Normalization of pin powers in MGXS Libraries example"
When normalizing the pin powers before plotting them in openmc (and openmoc), the 0 power at the guide tubes is making the mean wrong.

[2017-04-10 18:19] GiudGiud opened #856 "Plotting in MGXS documentation 3.library"
When plotting the geometry in MGXS documentation example codeblock 14 the plotting is done with plot.color = 'mat'
It should be plot.color_by ='material'

hey @johnnyliu27

[2017-04-10 19:34] nelsonag opened #857 "Final statepoint file should be named something independent of batch counts"
Right now, the statepoints are named `statepoint.<batch number>.h5`.  This makes it difficult for the Python API or a user to determine what the final result actually is a priori when tally triggers are used and thus the `openmc.StatePoint.batches` attribute does not necessarily represent the final batch count.

Instead, OpenMC should write its very last statepoint as something like `statepoint.fi

[2017-04-10 19:50] paulromano commented on #853
FYI I'm basing the fix off the branch from #852 so I'll submit a PR once that one is merged.

[2017-04-10 21:54] paulromano opened #858 "pugixml interface doesn't compile with IBM XL Fortran for Blue Gene/Q"
I tried to compile the latest version of OpenMC with bgxlf and it fails here:
[code]
The compiler in this case rejects valid code -- the [variable](https://github.com/mit-crpg/openmc/blob/e9dfad85196aea7b9263efe6ee34d4fd48b81643/src/pugixml/pugixml_f.F90#L242) in question does have an interoperable type, `character(kind=C_CHAR)`. My guess is that it most likely doesn't know what to do with it beca

[2017-04-10 23:18] paulromano opened #859 "Runtime error with PGI community edition 17.10"
PGI has a compiler bug that prevents OpenMC from compiling:
[code]
I've run into problems with PGI before getting confused when you have local variables defined somewhere that have the same name as an intrinsic (preventing it from being used elsewhere even though it doesn't make any sense). I'm going to file a report with PGI and look into workaround ahead of our 0.9 release.

[2017-04-10 23:41] paulromano commented on #859
Evidently the community edition also [doesn't work](https://www.pgroup.com/userforum/viewtopic.php?t=5442&view=previous&sid=ce9240125d2b931f57417ef29279246f) for C++ if the system you're compiling on uses GNU 6.0+ C++ headers. Supposed to be fixed in version 17 which has only been released as the professional edition (not the community edition).

[2017-04-11 00:29] paulromano commented on #859
I have a workaround for the PGF90-S-0038 error but now ran into:
[code]
Doesn't make sense to me as the dummy argument names do match those of the parent's interface. I will file yet another bug report to PGI.

[2017-04-11 12:20] hd719 commented on #856
Hello, there! I am new when it comes to open source and I would like to contribute to this project.

[2017-04-12 20:17] paulromano commented on #859
Evidently the first compiler bug is [already fixed](http://www.pgroup.com/userforum/viewtopic.php?p=21686) in the latest release and a new community edition will be out soon.

[2017-04-13 15:44] paulromano commented on #844
Has there been any progress on this? I don't mean to rush it, but I would like to fix this before our next release and it is one of the last remaining issues tagged to v0.9.

[2017-04-13 18:51] paulromano commented on #853
Closed with the merging of #861

[2017-04-13 18:51] #853 closed

[2017-04-13 19:04] wbinventor commented on #853
Thanks @paulromano!

[2017-04-13 21:51] smharper commented on #844
@GiudGiud is short on time atm so I just demonstrated the PR process instead

[2017-04-20 15:44] smharper opened #865 "`SurfaceFilter` bins don't match results in the PythonAPI"
For a current tally, the `SurfaceFilter` bins aren't in the correct order in the PythonAPI.  For example, what the PythonAPI thinks is incoming on the y_min surface is actually outgoing on the z_min.  I took one pass at trying to fix this, but just got confused with all the crazy index mapping.  I'll give it another shot later.

Also, tallies.out prints "Net current on the Front" where it should s

[2017-04-25 12:00] #865 closed

[2017-04-25 17:22] geogunow opened #868 "Bug running altered-temperature cross-sections with MPI"
I have encountered a small bug running constant-temperature cross-sections at a non-default temperature in OpenMC. Specifically, if I take a simple example from OpenMC, say the pin-cell, and add the following lines to the `settings.xml` file:

[code]
then OpenMC runs just fine running normally with the simple openmc command. However, when I do:
[code]
I get an error and OpenMC fails to run. Specif

[2017-04-25 17:36] paulromano commented on #868
Thanks @geogunow. I just put in a fix for this in #867.

[2017-04-26 16:43] paulromano commented on #868
Closed with merging of #867.

[2017-04-26 16:43] #868 closed

[2017-04-30 20:33] #844 closed

[2017-05-05 11:23] paulromano commented on #833
Closed with the merging of #839

[2017-05-05 11:23] #833 closed

[2017-05-05 17:13] paulromano opened #872 "Consistency of __eq__ and __hash__"
Python mandates that [objects which compare equal have the same hash value](https://docs.python.org/3/reference/datamodel.html#object.__hash__). We are currently violating this in a number of our classes. For example, the `Tally` class has an `__eq__` method which doesn't account for its `id` but a `__hash__` method that does. This can lead to some unexpected behavior, like the following:
[code]

[2017-05-05 20:04] paulromano opened #873 "Moving to a Python 3-only codebase"
Eventually, Python 2 will be [retired](https://pythonclock.org/). If and when this happens, we would be wise to move our Python codebase to support Python 3 alone (some might even argue Python 2 support should be dropped [before 2020](http://www.python3statement.org/)). I just wanted to create an issue to keep track of things we'd like to change when the switch to Py3 happens. Some changes off the

[2017-05-05 20:47] nelsonag commented on #873
no need for importing from future

[2017-05-05 22:08] cjosey commented on #873
I made Opendeplete py3 only for concurrent futures and LZMA.  Concurrent futures might be useful if the API had a parallelizable bottleneck, as it's just so easy to implement, but I'm unaware of any.  LZMA is useless if you're using HDF5.

Reading up the general differences:
I could see some usability in the faulthandler API.  It keeps traces if the script crashes so long as it's not ``kill -9``-e

[2017-05-05 22:35] paulromano commented on #873
Didn't know about the `os.path.join` replacement (using `pathlib.Path`). Pretty nice!

One more I thought of -- using [`subprocess.run`](https://docs.python.org/3/library/subprocess.html#subprocess.run) from Python 3.5.

[2017-05-11 16:51] paulromano commented on #859
I've confirmed that both of the previous bugs mentioned are now fixed in PGI community edition 17.4. However, now that I've gotten past those issues, I've uncovered yet another bug, which I [just reported to PGI](http://www.pgroup.com/userforum/viewtopic.php?p=21785).

[2017-05-11 16:53] paulromano commented on #859
To elaborate on the problem a little bit: the compiler chokes when reading an internal file that has newline characters in it. This causes `get_node_array_*` from `xml_interface.F90` to fail because, e.g., it can't read an array like:
[code]

[2017-05-17 21:33] paulromano commented on #873
Type annotations, the `typing` module, and the `typecheck-decorator` third-party package could simplify all our dynamic type checking.

[2017-05-22 13:03] #459 closed

[2017-05-23 02:00] #856 closed

[2017-05-24 14:28] paulromano commented on #841
All set with the merging of #871.

[2017-05-24 14:28] #841 closed

[2017-05-25 22:49] walshjon opened #885 "Fixed Source flux tallies"
I'm observing some apparently suspect behavior with flux tallies in a fixed source problem.

I'm intending to model a monodirectional beam normally-incident on a slab with tallies for the flux in 1) a vacuum region in front of the slab, 2) the slab, and 3) a vacuum behind the slab.  (Really, I just want the transmission (e.g., a current tally with a surface filter), but it seems like this has to b

[2017-05-25 23:01] walshjon commented on #885
I generated these inputs based on the "separate filter/tally" documentation but was not using the updated source.  Classic user error.  It's still somewhat unexpected to me that the tally specification above was accepted by the pre-commit code and produced the results it did, though.

[2017-05-25 23:01] #885 closed

[2017-05-26 13:09] paulromano commented on #885
Hmm, yeah I hear you. The reason it proceeded with no errors is because it essentially ignores XML elements that it isn't expecting. So, each of your tallies didn't effectively have any filters, hence why they all returned the same value. Anyway, glad you were able to figure it out quickly!

[2017-05-28 20:29] GiudGiud commented on #855
addressed by PR #888

[2017-05-31 16:11] #855 closed

[2017-06-21 15:43] smharper opened #895 "Nuclides with partial S(alpha, beta) tables"
Some reactor materials have isotopes which appear in a mixture of different molecular structures.  For example, the carbon in TREAT fuel assemblies is usually treated as a mixture of graphite and amorphus carbon.  In these cases, we need to apply S(alpha, beta) tables to only a fraction of the atoms in that material.

I've made a [branch](https://github.com/smharper/openmc/tree/partial_sab) that I

[2017-06-21 20:57] tjlaboss commented on #895
The new branch does give the expected results: the MCM core of TREAT is now critical.

[2017-06-21 22:56] tjlaboss opened #896 "run_tests.py fails to detect the location of mpiexec"
The script [`run_tests.py`](https://github.com/mit-crpg/openmc/blob/develop/tests/run_tests.py) fails to detect the correct location of the `mpiexec` executable. @cchaugen and I encountered this issue on computers running macOS Sierra 10.12.5 and El Capitan 10.11.6.

`run_tests.py` fails with the following error message: `FileNotFoundError: [Errno 2] No such file or directory: '/bin/mpiexec'`. (Se

[2017-06-21 23:01] smharper commented on #896
Set the `MPI_DIR` environment variable, e.g. `export MPI_DIR=/usr/local/`

[2017-06-21 23:26] tjlaboss commented on #896
...duh, thanks.

[2017-06-21 23:26] #896 closed

[2017-06-22 00:53] smharper commented on #896
Don't sweat it.  There are so many knobs to twiddle on this big machine that it's hard to know where to find them all.

@cchaugen, does this fix all the test failures you emailed me about?

[2017-06-27 14:58] tjlaboss commented on #895
It should be noted that this addition breaks part of the test suite--it will need to be updated to include the `fraction` field in the `<sab>` element.

[2017-06-29 20:50] paulromano commented on #214
Just wanted to give an update for anyone following this issue. We now have filters implemented as their own objects thanks to the excellent work of @smharper and @amandalund. This summer, @LMKerby and her student Brittany Grayson are looking into implementing functional expansions as a new filter type. After some discussion, we decided that this was a simpler path forward than introducing a separa

[2017-06-30 00:18] LMKerby commented on #214
Thank you Paul.

Leslie M. Kerby, Ph.D., M.B.A.
(208) 533-8118
Assistant Professor
Nuclear Engineering and Health Physics
Idaho State University

Research Scientist
Nuclear Systems Design and Analysis Division
Idaho National Laboratory

On Jun 29, 2017 2:50 PM, "Paul Romano" <notifications@github.com> wrote:

[2017-07-07 00:43] GiudGiud opened #898 "Surface neighbour lists differ depending on how complex cell is described"
In the case of nested cubes (sample input below), defining the outer cube with '~' the complement operator (to act on the inner cube) or with a few union operators '|' (to act on half-spaces defining the inner cube), the inner cubes'  surfaces' neighbour lists differ.

In one, the outer cube cell is listed as a pos neighbour, and in the other, as a neg neighbour. (in the lists of neighbours, surf%

[2017-07-07 01:06] GiudGiud opened #899 "Cloning cells creating extra clone materials not in materials.xml"
When cloning cells, a functionality introduced in #854 , the clone method also clones any portion of the CSG tree below it, so universes, materials, surfaces etc

But the materials.xml is not actually updated with the new materials (that have different ids). Only the geometry.xml has all the new information.
As a result, a SEG_FAULT is returned when openmc looks in the material_temps array. I'd sa

[2017-07-11 16:23] smharper commented on #450
We haven't moved our entire test suite to the Python API, but I think the PyAPI testing infrastructure is established well enough that we can close this issue.

[2017-07-11 16:23] #450 closed

[2017-07-13 20:02] #895 closed

[2017-07-23 01:45] johnnyliu27 commented on #729
I met some challenges when giving a second try to fix this issue. I was trying to fix it by a more flexible fix inside "_sab_header.F90_" than just changing the default temperature in OpenMC. My plan was to adjust the desired temperature (like 293.6 K, the default) to the coldest temperature (~293.6061 K) in the sab library if it’s below the coldest sab temperature by less than 1 K. However, this

[2017-07-26 19:26] johnnyliu27 commented on #857
I’ll give a try on this issue if the new feature will be considered worthwhile.

Two questions on this:

1) Should the `statepoint.final.h5` replace `statepoint.<last-batch-number>.h5`? I think we don't want to keep both of them, then maybe name it as `statepoint.<last-batch-number>.final.h5`?
2) Should the `statepoint.final.h5` be created only when tally triggers are on?

Thanks!

[2017-07-26 20:17] paulromano commented on #857
There may still some value in the context of triggers. However, I'm thinking that for iterated simulations (e.g., doing a criticality search), the [proposed C API](https://github.com/mit-crpg/openmc/pull/903) will make things a bit easier such that you might not need to know the number of batches anyway. Let me think a little more about what it would look like for the user to request the number of

[2017-08-06 17:07] GiudGiud opened #906 "cmake 2.8.12.2 / GNU Make 3.81 failed building libopenmc"
I got a wall of "undefined reference to ..." starting with "undefined reference to `std::string::c_str() const'" in the "build target libopenmc" step.
Interestingly, reverting cmake_minimum_required(VERSION 2.8.12 FATAL_ERROR) to cmake_minimum_required(VERSION 2.8 FATAL_ERROR) in CMakeLists.txt removes the problem. I found that out while reverting commits from the C API to pinpoint the problem. Th

[2017-08-07 01:07] apmccartney opened #907 "Dimensional inconsistency for SLBW competitive width terms"
The neutron wave number factor seems to be missing in the channel radius ratio (`rhoc`) and scattering radius ratio (`rhochat`) terms for the competitive width branch of `reconstruct_slbw`. See lines 302 and 303 of [openmc/data/reconstruct.pyx](https://github.com/mit-crpg/openmc/blob/1008ab8ea1509e17151a96b535c57b4f64831831/openmc/data/reconstruct.pyx#L302)

[2017-08-07 11:50] paulromano commented on #907
Nice find @apmccartney. Do you know of any evaluations that have non-zero competitive widths for SLBW/MLBW?

[2017-08-07 14:11] apmccartney commented on #907
Not yet, but I'm planning to build up a test suite as part the resonance reconstruction effort. Assuming I can find such an evaluation, it will be available there. I'll ping you if I come across one before then.

[2017-08-07 15:57] paulromano commented on #907
Yeah, I hadn't run into one either which is probably part of the reason this slipped through. I'd welcome a PR if you want "credit" for finding the bug. If you have better things to do though, I can put in a fix :)

[2017-08-07 17:51] aprilnovak opened #908 "Fix material index in `openmc_cell_set_temperature` routine"
I (think) the material associated with the cell is specified incorrectly for the `openmc_cell_set_temperature` subroutine. `material_ID` actually represents the index in the `materials` array, instead of the user-defined material ID from the materials XML file. Commit f155dfad29e40eb2a99482909923bca391e80c2d does not account for the fact that the `cells(i) % material(j)` are adjusted in the `adjus

[2017-08-07 18:50] #908 closed

[2017-08-09 11:32] paulromano commented on #906
Can you tell me a little bit more about your system? operating system, compiler you're using, version of CMake that you were using before

[2017-08-09 16:32] GiudGiud commented on #906
My workstation
Ubuntu 14.04 LTS
mpicc and mpif90 from gcc 4.8.4
cmake 2.8.12.2

NSE cluster
CentOS 6.3
mpicc and mpif90 from gcc 5.2.0
cmake 2.8.12.2 (have not updated so we can test fixes there)

[2017-08-09 22:18] apmccartney commented on #907
I'll post a fix sometime this weekend =)

[2017-08-13 01:50] Iwan-Zotow commented on #907
math for wavenumber in reconstruct.pyx seems to be wrong. Code looks ok though

[2017-09-06 02:54] jtramm commented on #906
I ran into this issue as well when compiling on the JLSE login node. The listed fix changing the cmake_minimum_required(...) line work for me as well!

[2017-09-06 15:41] paulromano commented on #906
I dug a little into this. It has to do with the C++ standard library not getting linked at link-time because the final step is to build a Fortran executable (main.F90). When minimum CMake is set as 2.8, `-lstdc++` appears on the link line and when the minimum is 2.8.12, it doesn't. I traced this down to a change in a CMake policy ([CMP0022](https://cmake.org/cmake/help/latest/policy/CMP0022.html))

[2017-09-11 12:57] paulromano opened #914 "Broadcasts potentially fail with large tallies"
Some users have noticed that when running a model with very large tallies (using the current develop branch), they are getting an error at the end of the simulation when tally results are broadcasted:
[code]
After investigating a little bit, this appears to be caused by a [bug in MPICH](https://github.com/pmodels/mpich/issues/2257). Not much we can do other than wait for MPICH to be fixed (there i

[2017-09-28 14:10] paulromano commented on #873
Class decorators provide some nice metaprogramming possibilities. For example, the `IDManagerMixin` class could be replaced with a class decorator, and the wrapped class wouldn't need to define `next_id` and `user_ids` class attributes.

[2017-09-28 15:29] paulromano opened #916 "Look into scikit-build"
Just ran across [scikit-build](http://scikit-build.readthedocs.io/en/latest/) which provides "glue between the setuptools Python module and CMake". Seems like it might make it possible to have openmc pip-installable, which would be awesome.

[2017-10-05 15:50] paulromano commented on #873
I'd like to propose that we do one more release (0.10) supporting Python 2 and then after that move to supporting Python 3.4+ only (Python 3.3 just hit [end of life](https://www.python.org/dev/peps/pep-0398/#x-end-of-life)).

Two other Python 3 things we can adopt:
- I wanted to use the optional `default` argument of max but found out that it is Py3-only.
- For documentation builds, we can get rid

[2017-10-23 22:38] lindsayad opened #924 "Unable to run examples/python/pincell"
Hi,

After generating the xml files and trying to `openmc` I get the following error:
[code]

[2017-10-24 16:04] #924 closed

[2017-10-27 02:37] #549 closed

[2017-11-08 19:04] paulromano commented on #859
The bug I reported previously in 17.4 has been [fixed in 17.10](http://www.pgroup.com/userforum/viewtopic.php?p=21785). That means that we can now at least build OpenMC using PGI, but using it is a different story. I'm getting all sorts of weird, un-debuggable segfaults and errors, and I can't get a proper traceback. I'm abandoning my efforts to compile with PGI; it's just not stable enough...

[2017-11-10 03:05] chaoqundeng opened #930 "openmc-ace-to-hdf5: no style information in the cross_section.xml"
After entering the core "openmc-ace-to-hdf5",it creates a file named cross_section.xml.But there is no style information of the nuclides' cross section in the file.

[2017-11-10 15:52] paulromano commented on #930
I'm not sure what you mean exactly. Can you clarify what you mean by "no style information"?

[2017-11-27 20:38] zhangy6x opened #934 "WindowedMultipole data"
Hi, I am trying to get the doppler broadened cross-section using the on-the-fly method in your paper with `openmc.data.WindowedMultipole.from_hdf5()`. I cloned the repo and ran the scripts named `openmc-get-nndc-data` and `openmc-get-multipole-data`. But, it looks like that the multipole data files (.h5) are only available for some of the isotopes.

I also tried it with the .h5 data files after co

[2017-11-28 20:39] liangjg commented on #934
@zhangy6x thanks for your interest in windowed multipole library for Doppler broadening. As you've seen, the publicly released WMP data contains only limited nuclides. These libraries were generated using special codes from the ENDF evaluation library. The point-wise cross section cannot be directly converted into WMP format using the python API. Actually, it has not been easy to get pole paramete

[2017-11-28 22:06] zhangy6x commented on #934
@liangjg: Thanks so much for your reply and sharing the paper! Are the codes for WMP format conversion available for users?

I tried NJOY2016 to generate temperature dependent cross-sections with `openmc.data.IncidentNeutron.from_njoy`, but it took quite a while for the uranium nuclides. So for getting temperature info by resonance fitting, I found the `WindowedMultipole` class is extremely helpfu

[2017-11-30 21:31] tjlaboss opened #935 "get_thermal_name() sometimes chooses the wrong thermal scattering library"
Some thermal scattering library names are close matches of the wrong libraries. For instance, "c_O_in_D2O" is considered a close match of "D_in_D2O" and "c_H_in_YH2" is considered a close match of "H_in_H2O". I've written a short test case below.

[code]

The output of which is

[code]

The mistake occurs in the function `get_thermal_name()` in [data/thermal.py](https://github.com/mit-crpg/openmc/

[2017-12-07 00:59] #934 closed

[2017-12-07 01:35] GiudGiud opened #940 "Cross section generation error"
Hello,

When installing openmc for two new crpg developers and users, with nndc cross sections, openmc crashes when loading cross sections.

The issue can be fixed by downloading from another source a set of hdf5 cross sections.
@smharper and I suspect h5py got updated and it broke the conversion of ace to hdf5

When updating my h5py and the python hdf5 (dependent of h5py probably)
    h5py:

[2017-12-08 04:35] paulromano commented on #940
A few questions: are you using conda/conda-forge? Did you generate cross sections yourself (i.e., by running openmc-get-nndc-data) or did you download the pre-built cross sections (as described [here](http://openmc.readthedocs.io/en/latest/devguide/workflow.html#openmc-test-suite))? Can you actually open one of the cross section file with h5py? something like:
[code]

[2017-12-08 04:47] GiudGiud commented on #940
Miniconda was used on both installs I think. I used it to re-create the problem.
We generated the cross sections ourselves, using openmc-get-nndc-data.
I can open the cross section file with h5py and print(f.attrs['version']) gives me : [1 0]

[2017-12-09 07:19] paulromano commented on #940
It looks like a different version of HDF5 is getting linked in to the OpenMC executable. Notice in the error message:

HDF5-DIAG: Error detected in HDF5 (**1.8.15-patch1**) MPI-process 0:

The version of HDF5 that is used is indicated when you run CMake when building OpenMC. You'll want to make sure that you use the same version to generate the HDF5 data and run OpenMC. The specific cause of the e

[2017-12-09 07:19] #940 closed

[2017-12-10 10:56] nelsonag opened #942 "Error writing tallies.out at least with gfortran 7.2"
I've stumbled upon a problem I've never experienced before.  I think this is due to an issue with gfortran 7.2, but that is only based on the fact that I've been away for a while and my distribution has since upgraded to 7.2, and now things fail.

Anyways, when writing a tallies.out file, the very first write command to that file produces an error:
[code]

I can get the same error by adding in my

[2017-12-11 03:39] paulromano opened #943 "Tally scores are not normalized by source strength in fixed-source calcs"
@brbass pointed out that when running a fixed-source calculation, the specified external source strengths are actually only used when sampling a source particle and actually don't have an effect on the tally results, i.e. if you have a single source with strength 1000, it would be no different than a single source with strength 1. We should fix this so that tally results are normalized by the sum

[2017-12-11 03:47] paulromano commented on #942
I haven't upgraded to a distro with gfortran 7.2 yet, but I'll try to reproduce on an EC2 instance with Ubuntu 17.10. Is there a particular model that this happens on for you or is it just any model? Are you still running on Arch?

[2017-12-11 08:25] paulromano commented on #942
@nelsonag I haven't been able to reproduce this behavior on Ubuntu 17.10 which uses gfortran 7.2

[2017-12-14 06:38] paulromano commented on #943
I have a fix for this ready to go, but it is based off of #944 so I'm going to wait for that to get reviewed/merged first.

[2017-12-19 07:10] paulromano commented on #935
I'm working on adding unit tests for our `openmc.data` package and this issue actually bit me so I went ahead and implemented a fix for it. I'll be submitting a PR soon.

[2017-12-19 11:05] milham99 opened #947 "how to set up ACE cross section libraries OpenMC 0.9.0"
thank you for your great program,
when i run the modelling pin-cel file in ipython (i already install all necessery program), i got the error:
Reading settings XML file...
 Reading geometry XML file...
 Reading materials XML file...
 ERROR: No cross_sections.xml file was specified in materials.xml, settings.xml,
         or in the OPENMC_CROSS_SECTIONS environment variable. OpenMC needs such

[2017-12-19 15:20] paulromano commented on #947
Setting up cross sections for your simulation is discussed at length in our [user's guide](http://openmc.readthedocs.io/en/v0.9.0/usersguide/cross_sections.html). Please give it a read and if you still need further assistance, I would encourage you to send a message to our [user's group](https://groups.google.com/forum/#!forum/openmc-users), openmc-users@googlegroups.com. That is generally the bes

[2017-12-19 15:20] #947 closed

[2017-12-19 23:53] milham99 commented on #947
Thanks you for your reply, i'm sorry to post it here. i will message the issue to the user's group, openmc-users@googlegroups.com.

thank you

[2017-12-20 07:14] paulromano commented on #872
This was mostly resolved with #946. We still need to do something about filters, but all the other classes are well behaved now.

[2017-12-24 10:42] nelsonag commented on #942
It still happens on any model, and yes, still on Arch.  Odd.

[2017-12-26 20:27] #943 closed

[2017-12-30 16:06] nelsonag commented on #942
Little progress, but I do have more information:
- Running INQUIRE on the unit handler tells me that the IOSTAT error code is 5018; this is an internal gcc error code: 5018  LIBERROR_INQUIRE_INTERNAL_UNIT.  I cannot tell you why libgfortran is throwing that error through.
- I also learned that Arch is on gfortran 7.2.1 but Ubuntu is on 7.2.0.  There is a minor update to 7.2.1 in the testing repos

[2017-12-30 20:58] paulromano commented on #942
That's weird -- the GCC page itself does not show a 7.2.1 release (the most recent is 7.2.0). I also see that the Arch repositories say 7.2.1.

[2018-01-04 20:19] paulromano commented on #942
One other update -- I did a source build of gcc 7.2.0 to see if things would be different from the prebuilt version on Ubuntu 17.10, but it still works perfectly fine for me.

[2018-01-08 21:52] nelsonag commented on #942
Welp, the new gfortran patch was pushed; it works great.   So, 7.2.1 20171224 fixe the bug.

[2018-01-08 21:52] #942 closed

[2018-01-09 14:49] paulromano opened #952 "Implement mesh surface filter"
As discussed in #946, the mesh filter in OpenMC is overloaded for two purposes: scoring volume-integrating tallies over each mesh cell as well as scoring surface-integrated tallies over each mesh surface (together with a surface filter). This causes a lot of confusion in the code that could be solved by introducing a new mesh surface filter that is specifically used for CMFD. Then we'd have:

- `M

[2018-01-11 21:35] smharper commented on #935
Closed with #953

[2018-01-11 21:35] #935 closed

[2018-01-26 16:47] smharper opened #960 "Tally filter for first-flight collision probabilites"
It would be handy if we could compute first-flight collision probabilities.  I imagine we could do it by adding something like `last_collision_material` to the particle header which tells us in which material the particle had its last collision (or was born).  Then we could filter it with a `LastCollisionMaterialFilter` that would be similar in implementation to a `MaterialFilter`.

@johnnyliu27,

[2018-01-26 16:53] smharper opened #961 "CMFD doesn't print the correct k_eff"
When I run the CMFD tests, OpenMC prints out zeros for the "CMFD k" and "Dom Rat" columns.  It looks like k is being computed correctly in the code, but something is just messed up at the printing stage.

[2018-01-26 17:37] paulromano commented on #914
@liangjg pointed out to me that the problem is a little more general. If we try to broadcast a tally results array with more the 2^31 elements, the call to `MPI_BCAST` will fail because the `count` argument is expected to be an `int`. It looks like one [reasonable approach](https://blogs.cisco.com/performance/can-i-mpi_send-and-mpi_recv-with-a-count-larger-than-2-billion) is to create a new contig

[2018-01-26 20:41] johnnyliu27 commented on #960
Sure I’d like to give a try on this. Regarding to the future implementation of CMM, a variable in the particle header recording the neutron’s birth place will be definitely more useful for CMM.
I’ll update here when I get into more details on this.

[2018-01-27 14:14] shikhar413 commented on #961
I'll take a look into this!

[2018-02-06 19:03] paulromano commented on #262
Our full regression + unit test suite now runs in 10-15 minutes on Travis, so I'm declaring victory.

[2018-02-06 19:03] #262 closed

[2018-02-06 20:10] smharper commented on #873
Closed with #965.  There are a few ideas here we haven't implemented, but the main point of this issue is definitely addressed.

[2018-02-06 20:10] #873 closed

[2018-02-17 23:01] walshjon opened #969 "binary search for a value out-of-range"
It may be worth re-thinking having the binary search return -1 for a value that is outside the range of supplied values.  I don't know if this is being used as an error code for some other host code, but developer's (at least this one) can run into trouble when calling the search in the standalone OpenMC.  The issue I ran into occurs when doing a binary search on a subset of a larger vector of val

[2018-02-18 23:33] cjosey commented on #969
I believe that this change was my fault and was merged in PR #466.  Removing those bounds checks, along with a few other tweaks, improved the overall simulation performance roughly 5-10%.

If you really want it back, one "good for everyone" possibility is to ``#ifdef`` the error check if debug is enabled.

[2018-02-19 00:50] walshjon commented on #969
Right, if we're checking anyway, returning the upper or lower bound seems at least as good as -1, probably better (unless -1 is being used elsewhere).

[2018-02-20 21:49] zxkjack123 opened #970 "Beginner’s Guide link failure"
The [A Beginner’s Guide to OpenMC](http://openmc.readthedocs.io/en/stable/usersguide/beginners.html) have two links fail to access the resources.
In the 2nd last sentence, last paragraph, section 1.3: Another resource that is a bit more technical than the Reactor Concepts Manual but still at an elementary level is the DOE Fundamentals Handbook on Nuclear Physics and Reactor Theory [Volume I](http:

[2018-02-21 04:11] SterlingButters opened #971 "3D Tally-Score Capability?"
I have seen issue #815 and I understand that the statepoint does not possess 3d capability. If it does not have the capability, then what is the purpose of a 3D mesh dimension?:

[code]

I am still figuring things out but when I specify the mesh.dimension = [17, 17, 100] in the Multi-Group (Delayed) Cross Section Generation Part II: Advanced Features notebook, I don't see any effect, should I?

[2018-02-21 04:39] SterlingButters commented on #971
In fact, if I make the settings.output = {'tallies': True} then the tallies.out provides the scores for the mesh in the dimensions that I specify, yet the values of the scores are 0 for anywhere in the mesh that z does not equal 1. Eg:

[code]

[2018-02-21 04:45] SterlingButters commented on #971
And running openmc-plot-mesh-tally on the statepoint file even lets me choose the axial level which is exactly what I want. (With returned values/plot obviously)

[2018-02-21 17:19] paulromano commented on #971
Statepoint files do fully support tallies with 3D mesh filters. The purpose of the now-defunct `openmc-statepoint-3d` script was to create SILO or VTK files based on a statepoint containing a 3D mesh tally, so that particularly capability is not available at the moment. However, you can definitely still do tallies containing 3D mesh filters without issue.

Without seeing your model, I couldn't say

[2018-02-21 17:19] #971 closed

[2018-02-21 17:32] paulromano commented on #970
Thanks for reporting; I just submitted a pull request to fix the broken links.

[2018-02-21 17:38] SterlingButters commented on #971
@paulromano  Thank you, I think I figured it out, I'm still getting some weird stuff but I think I just need to play around with it a bit.

[2018-02-21 18:12] #970 closed

[2018-02-22 17:42] SterlingButters opened #974 "Possible to extract matplotlib graph/plot elements from openmc.Plot().from_geometry()?"
Just wondering if it is possible to do the above in order to plot the geometry using a different data visualization API such as matplotlib?

[2018-02-22 17:46] walshjon opened #975 "tallied weight w/ WCM resonance scattering"
https://github.com/mit-crpg/openmc/blob/37c6d4a0f58a2143a51f7fd47689c6e492fdc024/src/tallies/tally.F90#L1015 needs to tally `wgt` instead of `last_wgt` for WCM resonance scattering to produce the correct fixed source answer for a tally with an elastic scattering score (specified using the MT number 2).  I haven't checked if this is a subset of a larger bug or if this change would adversely affect

[2018-03-01 18:00] paulromano commented on #974
Not currently but that's a great idea! We'll look into adding that for the next release.

[2018-03-03 02:30] cjosey opened #977 "Tracking Issue for OpenDeplete Components"
Now that OpenDeplete is part of OpenMC, I thought I'd just make a tracking issue for things that were left unfixed in the original OpenDeplete.  I also added things mentioned in the PR for this.  If it's preferred to break this up into separate issues, that's fine.  I just didn't want to email spam everyone with each issue.

- [x]  [Better handling of capture branching ratios](https://github.com/m

[2018-03-05 23:47] scopatz opened #978 "Unhelpful Segfault With Extra Material"
In class today, I ran across an issue in v0.10.0, where if a material is defined, but not used, OpenMC will segfault and not provide any information about the underlying cause. The error is something like:

[code]

A Jupyter notebook that reproduces this issue is available at https://gist.github.com/scopatz/67e1e44851b8e6dfbdbb773096c707bf

Let me know if you have any other questions.

[2018-03-05 23:49] paulromano commented on #978
Thanks for reporting -- I'll look into it.

[2018-03-06 03:51] smharper commented on #978
@scopatz, can you confirm this is closed?  I actually wasn't able to reproduce your error so I can't be sure.

[2018-03-07 20:19] SterlingButters opened #980 "Feature Request: Multi-Objective Optimization"
With all the new Multi-Objective Optimization Algorithms coming out, I was wondering if it would be possible to implement one in OpenMC.

This would almost be synonymous with the `search_for_keff` but with multiple parameters. I tried to create my own adaptation using a combination of distance metrics (https://www.eng.uwo.ca/research/iclr/fids/publications/products/Fuzzy_set_ranking2.pdf (Page 13)

[2018-03-07 20:33] paulromano commented on #980
I'm no expert in optimization. If you develop something that you think would be generally useful to others, we would welcome a pull request though.

[2018-03-07 20:35] SterlingButters commented on #980
I will see if I can get something that won't take a lifetime to converge and let you know

[2018-03-07 20:39] scopatz commented on #978
Hi @smharper - I don't have an OpenMC dev environment at the moment. Since I am teaching a class with OpenMC opted for something a little more stable (the conda-forge package). If you put out a micro-release, I'll happily test it then!

[2018-03-07 22:22] paulromano commented on #978
I was able to reproduce the error based on the notebook that @scopatz shared, and I've confirmed that it no longer exists on the develop branch now that #979 was merged, so I'm going to go ahead and close this.

[2018-03-07 22:22] #978 closed

[2018-03-15 15:59] SterlingButters opened #984 "Better Interface for OpenMC projects"
I have seen ERSN interface for OpenMC and while it comprehensive and there is nothing wrong with it, I think that Plotly's Dash interface has much more potential for data visualization and user-friendly UI. In addition, it is incredibly easy to program. I wanted to share the beginnings of my project in case anyone wanted to aid its development:

https://github.com/SterlingButters/OpenMC-Dash-Inter

[2018-03-18 18:18] SterlingButters commented on #974
Getting close to doing it externally (from OpenMC), in the interface I am building... Though I don't plan to do anything with geometries that aren't x, y, z or cylindrical planes.

<img width="871" alt="screen shot 2018-03-18 at 1 15 19 pm" src="https://user-images.githubusercontent.com/22737286/37569338-d0247c30-2aae-11e8-839a-ddbcf561da9e.png">

[2018-03-19 05:48] SterlingButters commented on #977
I was actually just about to ask if OpenDepelete would be merged with OpenMC. When will the docs be updated for usage of this?

[2018-03-19 11:43] paulromano commented on #977
I'd like to have at least a few of the issues identified here resolved (especially those relating to accuracy) before advertising the capability too much. The docs will definitely be updated by the next release though.

[2018-03-19 12:05] paulromano commented on #974
I actually have a branch with the changes needed in order to get the actual image object (as opposed to just displaying the image). I'll be submitting a pull request this week with the change.

[2018-03-19 15:44] SterlingButters commented on #977
Sweet, I’m excited

[2018-03-19 15:48] SterlingButters commented on #974
May I ask what attributes will be available under the image object? I’m asking because the interface I’m building may require more/something-other-than what the pull request will provide. Still a useful feature though!

[2018-03-19 15:51] paulromano commented on #974
For a geometry plot, you'd get an `IPython.display.Image` object. What information do you actually need for the interface you're building?

[2018-03-19 15:55] SterlingButters commented on #974
If you look in the picture I uploaded you can actually see that it tells me the cell-location on mouse-hover. In addition, I can get it to tell me what “universe” is selected on mouse hover. The other plot that I have (not posted) graphs the regions in the cell and it will tell me what region the mouse-hover is in. It is supposed to fill the region once the user clicks a button though I think ther

[2018-03-19 15:58] SterlingButters commented on #974
So in terms of attributes, say for an assembly plot, I’d be looking for number of cells (x/y directions), x/y dimensions of assembly, and outer radius of fuel pin/equivalent.

[2018-03-19 16:02] paulromano commented on #974
How are you actually rendering the plot? Right now, plots in OpenMC are just rasterized images -- it loops over a bunch of (x,y) coordinates and figures out what cell is present at a given location and then uses that to produce a bitmap (first a PPM file which is then converted to a PNG).

[2018-03-19 16:10] SterlingButters commented on #974
Right now I am using the Plotly API for (heatmap) plotting which takes the outer radius of the ZCylinder object and loops that over the user defined number of cells in each direction. A change is also accounted for in space between cells via a change in assembly x/y .dimension

[2018-03-19 16:12] SterlingButters commented on #974
And I don’t understand how I would do this (yet) for more complex plane configurations. Maybe that’ll come in a later release. Or if I can get a collaborator lol

[2018-03-19 16:31] paulromano commented on #974
Out of curiosity--are you working on this as part of a particular project?

[2018-03-19 16:32] SterlingButters commented on #974
No haha I’m just bored

[2018-03-24 19:06] GiudGiud commented on #857
If this is being modified, I suggest we indicate the time step number in the statepoint file name for depletion calculations.

[2018-03-24 20:19] #961 closed

[2018-03-24 20:21] #952 closed

[2018-03-28 22:12] SterlingButters opened #989 "Full Core Example"
Was wondering where the full core example is to get this image:

![plotmeshtally](https://user-images.githubusercontent.com/22737286/38058405-56a16dc6-32a8-11e8-885b-96a2851696a6.png)

I tried running this: http://openmc.readthedocs.io/en/stable/_modules/openmc/examples.html#pwr_core

after adding a mesh, xs-library, and some settings but I'm getting some weird stuff. This is my code:

[code]

[2018-04-04 03:48] paulromano commented on #989
I believe that image was generated from an [ICSBEP](http://icsbep.inel.gov/) model, but to be honest I don't recall which particular one it was.

For future reference, questions like this should be asked on the [user's group mailing list](https://groups.google.com/forum/#!forum/openmc-users). Issues on github should be used when you've run into a bug or want to request a specific feature. The mail

[2018-04-04 03:48] #989 closed

[2018-04-04 04:27] SterlingButters commented on #989
Thanks, sorry about that

[2018-04-23 15:30] lindsayad opened #995 "Including openmc.h"
If I run
[code]
the resulting `include` directory contains all the Fortran module files but it does not include `openmc.h`. If an external library wants to call through the C-API it would be great if that header file could be found in a standard `include` directory. Moreover, if I run `make install` the resulting installation directory doesn't even have an `include` directory.

[2018-04-23 15:34] paulromano commented on #995
Good point -- I'm planning on putting in a pull request this week so I might piggy back a fix for this on that PR (unless you want to submit one yourself!)

[2018-05-02 01:57] ABadea opened #999 "Multiple sources in openmc each source has its own flux"
Dear All ,

how to make multiple sources in openmc each source has its own flux - ( number of  particles ) ?

[2018-05-02 20:27] paulromano commented on #995
@lindsayad This should be fixed on the develop branch now.

[2018-05-02 20:27] #995 closed

[2018-05-02 20:43] paulromano commented on #999
If you are using the Python API, you can simply assign multiple `openmc.Source` objects to the `openmc.Settings.source` attribute, e.g.,
[code]
Once the model is exported, this would appear in settings.xml as:
[code]
Note that the source strength can be adjusted for each source as needed.

@ABadea These types of questions are better suited for the [openmc-users](https://groups.google.com/forum/#!f

[2018-05-02 20:43] #999 closed

[2018-05-07 20:24] lindsayad opened #1002 "Consistent normalization of Legendre and Zernike polys"
Currently, users have to normalize by (2n + 1) / 2 for Legendre coefficients and similarly by 1 / pi for Zernikes. If we're going to do this, then I think we should also remove the Zernike code that multiplies the Zernike polynomials by √((2n + 2) / epsilon). We should decide: either the user has to apply the integration factors consistently or they don't.

[2018-05-09 11:34] #1002 closed

[2018-05-14 00:39] smharper commented on #603
Looks like this move is picking up steam with #996 and #1004.  Just want to stick an FYI here to avoid duplication of work:  I have a branch [here](https://github.com/smharper/openmc/tree/c_cell) where I'm working on moving the vast majority of the geometry-related code to C++

[2018-05-14 12:56] paulromano commented on #603
Thanks for the heads up @smharper. I also have a [branch](https://github.com/paulromano/openmc/tree/cpp-particle) where I've made the `Particle` derived type interoperable with a C struct so that it is possible to pass a particle back and forth between C and Fortran. I'll put in a PR for that one soon.

[2018-05-15 20:37] smharper opened #1005 "Make Python uncertainties an optional dependency"
#985 made the Python uncertainties package a required dependency.  This package can't be installed with a simple `conda install uncertainties` so it is a stumbling block for new users.  @paulromano, would you be okay with reverting that change?

[2018-05-15 20:43] paulromano commented on #1005
I'd prefer to leave it. Uncertainties is available in conda-forge, or it can easily be pip-installed.

[2018-05-15 23:23] #1005 closed, assigned to nobody

[2018-05-21 18:05] gridley commented on #24
Any news on this? I recently ran some single LWR assembly calculations in OpenMC and found them to be about 50% slower than Serpent 2 both using 4 cores.

[2018-05-21 18:48] gridley commented on #24
Thanks for the lightning-fast response @smharper. This geometry did only include an axially infinite pin lattice, so no fancy complements here. It makes sense that other topics would take priority in speeding calculations up.

[2018-05-21 18:49] paulromano commented on #24
@gridley If you're willing to share models, one of us can take a peek to see if there's anything obvious that is hurting performance.

[2018-05-21 19:33] gridley commented on #24
Hey @paulromano, thanks. The OpenMC model is [here](https://gist.github.com/gridley/9ba2b4fe2e7f45f7328cdb2f24ddef6a) and the Serpent model to match is [here](https://gist.github.com/gridley/81411a008725ad6f1240dfb93218ecab).

Seems that Serpent takes 30 s but OpenMC 45 s.

[2018-05-21 22:26] lindsayad opened #1009 "Cannot open h5 suffixed state-point files"
Looks like a commit (1d2ebb71f) went in about a month ago that incremented `_VERSION_SUMMARY` in `summary.py` from 5 to 6. It's not entirely clear to me what this variable's intended use is (the sub-version of openmc AFAICT is 10), but it is being used to check the suffix when reading in statepoint files. Consequently, running any openmc example notebook that opens a `.h5` file will error out with

[2018-05-22 12:20] makeclean commented on #24
I note that you don't have equivalent boundary conditions in both codes, Serpent should be BC 2 to match your reflective condition in OpenMC. Or OpenMC should be 'periodic' to match Serpents BC 3.  I dont know if this is the cause in the runtime difference, but you arent comparing apples to apples.

[2018-05-22 16:22] lindsayad commented on #1009
Looks like this was caused by me not updating my `openmc` binary. False alarm!

[2018-05-22 16:22] #1009 closed

[2018-05-23 15:14] lindsayad opened #1010 "Check for derived in tally sum but not in sum_sq"
Is there any good reason why we check `self.derived` [here](https://github.com/mit-crpg/openmc/blob/develop/openmc/tallies.py#L211)? We don't perform that check for `mean` or `sum_sq`. This is troublesome when creating a new tally with `get_slice` for example.

[2018-05-23 15:29] paulromano commented on #1010
I think the logic behind it is that only real tallies have a `sum` attribute because that it corresponds directly to what OpenMC is actually accumulating during transport. For a derived tally, it doesn't make sense to have a "sum" because it doesn't reflect a tally for which realizations were actually accumulated. However, a derived tally can have a mean that is determined in relation to the origi

[2018-05-23 20:13] lindsayad commented on #1010
"troublesome" was the wrong word to use... I wasn't thinking completely about my problem; `mean` contains all the information I need.

The logic makes sense to me. Maybe I'll submit a PR with the `derived` check added for `sum_sq` and then consider this a closed issue.

[2018-05-23 21:27] #1010 closed

[2018-06-03 19:29] liangjg commented on #934
@zhangy6x the new library is now released here: https://github.com/mit-crpg/WMP_Library

[2018-06-14 15:18] paulromano opened #1015 "Spherical harmonics expansions in space"
Right now, our spherical harmonics expansion filters handle expansions in angle. There is a desire to support functional expansions tallies over spherical regions for handling pebbles in an FHR. This should be a pretty straightforward addition.

[2018-06-18 13:31] paulromano opened #1017 "Decide on library for N-dimensional arrays"
With plenty of action on #603 these days, we will be needing a clean way to express N-dimensional arrays in C++ which the language itself doesn't really provide. There are a number of libraries that provide multi-dimensional arrays, including:
- [Boost](https://www.boost.org/doc/libs/1_62_0/libs/multi_array/doc/user.html)
- [Eigen](http://eigen.tuxfamily.org/index.php?title=Main_Page) (intended mo

[2018-06-20 15:29] paulromano opened #1018 "Events used to contribute to Zernike filter"
As @lindsayad discovered the hard way, currently collisions outside of the defined domain for a Zernike polynomial used for a Zernike filter can still contribute to the tally. Effectively, we are fitting polynomials to data that is possibly outside of the defined domain, so I'm going to call that a bug. Fixing should be as easy as only scoring when the normalized radius is <=1.

@lindsayad I'd wel

[2018-06-20 15:42] paulromano opened #1019 "Possible zero rates when tallying summed reactions"
@salcedop recently ran into an issue trying to tally the (n,p) reaction rate for Zr90 (and As74) from ENDF/B-VII.1. Right now, OpenMC exclusively relies on the reaction MT=103 for this, even if (n,p) is broken up into level cross sections (MT=600-649). These two nuclides do use the level cross sections, so if you ask for the `(n,p)` score, it ends up being zero even when the (n,p) rate is non-zero

[2018-06-22 14:32] smharper commented on #1017
I want to push back slightly on a C++14 dependency.  Recently I've been helping a lot of people install OpenMC, and it can be a really brutal process for folks who haven't installed software from source before.  MacOS in particular gets tough if you need a modern GCC (maybe it would be better if we were 100% C++ and could use Clang, but that's a ways off).

Would a Boost dependency still allow us

[2018-06-22 20:18] paulromano commented on #1017
I do empathize with you (and poor newcomers). Things will get better when Fortran is gone, for sure. In principle, Clang does have ABI compatibility with gcc so you could mix gfortran and clang++. I haven't tried it yet though.

With the case of xtensor, it requires gcc 4.9 so one version higher than where we are currently. I would think that from the perspective of a MacOS user, that makes no dif

[2018-06-25 22:58] paulromano opened #1021 "Conventions for position/angle variables in C++"
I'm looking at refactoring some of our geometry related code to replace instances of `double xyz[3]` and `double uvw[3]` with something like `Position r` and `Angle a`, where `Position` is:
[code]
This type would have operator overloads to make arithmetic simple. What I'd like some feedback on before refactoring all this code is the convention we use for variable names. I think it would be wise to

[2018-06-26 12:56] paulromano commented on #1021
Another option for angle might be `Angle u` with fields `x, y, z`. This makes the components of the angle very clear, `u.x`.

[2018-07-09 18:00] GiudGiud commented on #1017
This is meant for tally arrays right ?
Any of those have advantages with regards to shared memory parallelism ? MGXS could use a speed boost on large problems like BEAVRS, so it could be worth it to move some of the work on libraries to C++ and make it parallel.
Otherwise I'd like to point out that boost and xtensor have Python bindings, which will come in handy, and that xtensor seems a lot easie

[2018-07-10 20:44] paulromano commented on #1017
It is really meant for any area of the code where we are dealing with multidimensional arrays, not specifically just tallies. There wouldn't be any performance benefits for shared memory parallelism. Most libraries just provide a nice abstraction for interacting with multidimensional arrays, but under the hood there is just a normal array that is allocated.

My plan would be to distribute the libr

[2018-07-19 17:00] paulromano opened #1026 "Tests currently fail with numpy 1.14+"
NumPy made some changes in how arrays are displayed in version 1.14 (see description [here](https://docs.scipy.org/doc/numpy/release.html#many-changes-to-array-printing-disableable-with-the-new-legacy-printing-mode)). Because we use the array reprs when generating test results. This causes many of our tests to fail if run with the latest version of numpy. Although there is an option to revert to t

[2018-07-20 14:39] icmeyer opened #1027 "ENDF Parsing Blank Space"
In the ENDF parsing routine there is a function to convert ENDF's odd format to floating point.
https://github.com/mit-crpg/openmc/blob/499f2f24944435c095d3d69acdd8fea98ddf1edd/openmc/data/endf.py#L71

The issue is that occasionally evaluations produced by SAMMY will contain white space indicating a 0. This is not currently the case for publicly distributed ENDF files but may rear its head in more

[2018-07-20 14:56] paulromano commented on #1027
Thanks for creating an issue for this @icmeyer. Looking at ENDF-102, here's what they have to say about integers:

So, if you read it literally, technically all those `n`s could be spaces. I'm not sure if the intent is for that to be permissible. If you have a field of all blanks that is read by Fortran's I11 format spec, it looks like the Fortran standard does actually say that it's to be interpr

[2018-07-25 18:08] paulromano commented on #906
Our CMake minimum version (and our CMakeLists.txt file itself) has changed since the last update on this issue, so I'm going to go ahead and close this. Also, our `main()` is now in C++ so the issue might have solved itself. @GiudGiud If you are still seeing problems with CMake, feel free to reopen or post a new issue.

[2018-07-25 18:08] #906 closed

[2018-07-25 18:12] paulromano commented on #22
@amandalund I was just looking through old issues and ran across this one. Remind me in our next meeting that we should discuss this and its implication for coupled n-p problems.

[2018-08-02 15:28] paulromano commented on #603
I created a [project board](https://github.com/mit-crpg/openmc/projects/2) to keep track of who is doing what.

[2018-08-02 16:22] paulromano opened #1030 "Isotropic fission neutron assumption"
Currently OpenMC assumes that the emission of fission neutrons is isotropic, even when the evaluated data says otherwise. It should be straightforward to just use the distribution specified by the evaluation.

[2018-08-06 12:12] paulromano commented on #431
Photon transport is now in the develop branch with the merging of #1023. I'll create separate issues for remaining issues.

[2018-08-06 12:12] #431 closed

[2018-08-06 12:19] paulromano opened #1036 "Account for summed reactions for photon production"
Sometimes photon production from neutron reactions is associated with "summed" reactions like MT=3 or MT=4. Although we keep track of this in the `IncidentNeutron` object through the `summed_reactions` attribute, it doesn't actually get written to our HDF5 files at present. As a result, the yield of secondary photons from neutron reactions will currently be underestimated.

[2018-08-06 23:58] cjosey opened #1038 "XML whitespace issue when compiled with Intel"
When OpenMC is compiled with a newer Intel compiler (17.0.4 and 18.0.2 tested), the XML parser will fail to properly handle whitespace in certain parts of the XML input.

Specifically, upon running ``examples/xml/pincell`` with latest develop, the following error will be shown:
[code]
Changing the ``<parameters>`` tag in ``settings.xml`` to:
[code]
Allows the simulation to continue onward.  This i

[2018-08-07 04:31] paulromano commented on #1038
Looks like a compiler bug to me. I just made a [post on Intel's forum](https://software.intel.com/en-us/forums/intel-fortran-compiler-for-linux-and-mac-os-x/topic/783872) reporting the behavior. Ironically, I reported almost exactly the [same bug](https://www.pgroup.com/userforum/viewtopic.php?p=21785) to PGI over a year ago. Gotta love Fortran compilers...

[2018-08-08 16:44] #1038 closed

[2018-08-10 14:09] #1021 closed

[2018-08-15 13:33] hanzhuoran commented on #1018
I believe I fixed this in my PR.

[2018-08-15 14:17] #1018 closed

[2018-08-15 18:52] #1017 closed

[2018-08-15 18:52] #1026 closed

[2018-08-16 21:13] pshriwise opened #1049 "C_NONE and MATERIAL_VOID are the same value in C"
Could this be a problem?

I'm having trouble defining a cell as void in C and I think these values being the same causes an issue in setup [here](https://github.com/openmc-dev/openmc/blob/0ff0568a10eaa5634fc71f7c78624f2a86b4a570/src/geometry_aux.cpp#L21) in `adjust_indices_c`.

[2018-08-16 21:25] paulromano commented on #1049
@smharper addressed this in his open PR #1045 -- take a look there.

[2018-08-16 21:32] pshriwise commented on #1049
Thanks! I'll keep an eye on it and rebase once it's merged.

[2018-08-17 14:03] paulromano commented on #1049
Closing this with the merging of #1045. If you still are running into problem @pshriwise, feel free to reopen.

[2018-08-17 14:03] #1049 closed

[2018-08-17 20:59] shikhar413 opened #1053 "Diverging k-effective behavior when running statepoint restart generated in inactive cycles"
When restarting a simulation from a statepoint file that was generated during the inactive cycle, there is a difference in k-effective when running the same simulation from the statepoint file.

As an example, in `tests/regression_tests/statepoint_restart`, if the settings.xml file is modified to generate statepoints at batches 2, 3, 7, and 10, then the following commands will yield different k-ef

[2018-08-23 14:44] hanzhuoran opened #1057 "Tally.filters doesn't support inputing multi-dimensional legendre filters as a list"
As @GiudGiud discovered, if we set up FET like `tally.filters = [filter_x, filter_y, filter_z]` and
`filter_x = openmc.SpatialLegendreFilter(1, 'x', min, max),`
`filter_y = openmc.SpatialLegendreFilter(1, 'y', min, max),`
`filter_z = openmc.SpatialLegendreFilter(1, 'z', min, max)`, we will have an error message about duplicate tallies.

This is because we only check the type of the filters. All th

[2018-08-27 14:28] paulromano commented on #1057
@hanzhuoran Is this fixed now with #1058 being merged?

[2018-08-30 15:52] hanzhuoran commented on #1057
This one is fixed.

[2018-08-30 15:52] #1057 closed

[2018-09-13 14:56] jtramm opened #1070 "Ubuntu Compilation Issues"
I'm running into two compilation issues on Ubuntu 16.04 LTS with gcc 5.4:

- The first issue occurs on line 125 nuclide_header.F90:

[code]

When I change the ```dble(Z"FFE0000000000000")``` to ```-1``` it seems to compile fine (though not sure if this is a good idea).

- I then run into a second issue later on during linking:

[code]

[2018-09-13 18:28] paulromano commented on #1070
In theory it *shouldn't* be a problem! I think it's worth getting fixed -- do you want to take a shot at a PR to fix these two issues? For the `CACHE_INVALID` one, setting to an arbitrary negative value should probably be ok. The other option would be to move the definition of `CACHE_INVALID` to nuclide.h/nuclide.cpp and then add a binding on the Fortran side.

[2018-09-14 01:15] paulromano commented on #1070
Closed with the merging of #1071

[2018-09-14 01:15] #1070 closed

[2018-09-14 01:16] paulromano commented on #1036
This was resolved by #1068

[2018-09-14 01:16] #1036 closed

[2018-09-14 19:49] jtramm opened #1072 "HDF5 on macOS: Cannot load 'redundant' attribute"
I've run into a bug when running on macOS that seems to be caused by HDF5. OpenMC compiles fine, but when I run I get the following error:

[code]

Upon inspection of reaction.cpp, I find the following lines seem to be the cause:

[code]

When I look at my cross section hdf5 files, I am able to find the Q_value, mt, and center_of_mass attributes, but the "redundant" attribute is not present (at le

[2018-09-14 20:30] jtramm commented on #1072
A more robust fix might be to change the read_attr() function in hdf5_interface.cpp from:

[code]

to:
[code]

which seems to work for me.

[2018-09-14 20:37] amandalund commented on #1072
The "redundant" attribute was introduced in #1068 -- it's used to track which reactions are summed reactions for photon production. Have you recreated the HDF5 library since this PR was merged?

[2018-09-14 20:39] paulromano commented on #1072
Let me propose a simple solution -- add a check for the redundant attribute and if it doesn't exist, just set `redundant_` to false. This will allow the current version of OpenMC to work with older libraries (that don't store redundant reactions).

[2018-09-14 20:43] jtramm commented on #1072
@paulromano -- sounds good, it looks to me like that's what I'm doing in the read_attr() fix, but let me know if you had something else in mind or if I'm missing something.

[2018-09-14 20:45] paulromano commented on #1072
Yes, what you propose would work, but it might hide bugs too because then a 0-like value would be assigned to any missing attribute.

[2018-09-14 21:03] jtramm commented on #1072
Ah, yes, I was just looking at how it was being used for the redundant call (where the output is compared against 1), I didn't look at the rest of the use cases where the value is used more generally. To keep things so that it crashes if there is a missing attribute of another type besides "redundant", so it's obvious if there was an error generating/loading the library, I think this is what you h

[2018-09-15 18:48] jtramm commented on #1072
Fixed with PR #1073.

[2018-09-15 18:48] #1072 closed

[2018-09-21 02:21] cjosey opened #1074 "The multigroup pincell xml example has memory errors"
As a side effect of asking a bunch of people to run the xml examples to get a handle of OpenMC, I keep getting informed of issues in the examples.

When examples/xml/pincell_multigroup is run, it will crash with the following error message:
[code]
This was tested with GCC 8.1.0 and HDF5 1.10.1, compiled without alteration of ``CMakeLists.txt``.  As of v0.10.0, this issue did not occur.

[2018-09-22 21:31] paulromano commented on #1074
@nelsonag Can you take a look into this?

[2018-09-23 10:28] nelsonag commented on #1074
Will do

On Sat, Sep 22, 2018, 5:31 PM Paul Romano <notifications@github.com> wrote:

[2018-09-23 21:17] paulromano commented on #1074
Fixed by #1076.

[2018-09-23 21:17] #1074 closed

[2018-10-08 15:50] shikhar413 commented on #1053
Fixed with #1080

[2018-10-08 15:50] #1053 closed

[2018-10-18 13:21] paulromano opened #1097 "openmc-plot-mesh-tally possibly broken on macOS"
See discussion here: https://groups.google.com/forum/#!topic/openmc-users/qE5UwBcjrY4

[2018-10-18 15:12] paulromano opened #1098 "Segfault with outgoing energy distribution having a single incident energy"
A user reported a segfault to me trying to use a randomly generated TENDL file. The issue was that in their file, the delayed neutron energy distributions only had a single incident energy point, which eventually caused an out-of-bounds error in `ContinuousTabular::sample`. I'm not 100% sure the data can be considered correct in this case, but nevertheless OpenMC should probably fail a little more

[2018-10-20 02:29] paulromano opened #1102 "Proposal: namespaces for global variables"
I've found it really useful to have global variables be members of a namespace below `openmc::`. For example, when moving all settings-related variables to C++, I put them in a `openmc::settings::` namespace. The big benefit is that when they are used around the code, it's a lot more obvious what is a global variable and what is not because the global variables have a namespace prefix. In fact, wi

[2018-10-21 09:28] nelsonag commented on #1102
Good idea.

To be clear, it doesn't seem that you are proposing simply a `global::` namespace, but a few namespaces with informative names (just like `settings::`), is that right? (I also agree with that)

If so, it would be good to agree on what those namespaces should be early on instead of adding them in later to avoid re-work.

Here are my suggestions for the global categories, with explanatio

[2018-10-21 17:15] paulromano commented on #1102
Exactly, having a few categories would help keep things straight. I was thinking:
- `settings` (already exists)
- `simulation` (already exists) -- place for holding things that are only used during a simulation like the fission bank, k-effective, etc. This is a little long so we might want to consider just `sim`?
- `model` -- this would have geometry and materials (and maybe tallies?)
- `data` --

[2018-10-25 15:35] paulromano opened #1104 "Predefined energy group structures in Python API"
One nice user convenience would be to have predefined energy group structures (for energy filters) as part of the Python API so that users don't have to manually enter them.

[2018-10-25 19:47] smharper commented on #1102
"Namespaces are one honking great idea -- let's do more of those!"

I agree that the settings namespace is very helpful.  I fully endorse putting all of our global variables in one namespace or another.

[2018-10-26 17:39] SterlingButters opened #1106 "Reopening of Issue #971: 3D Tally-Score Capability"
Greetings,

I wanted to revisit my issue from long ago. Points of Interest:

"running `openmc-plot-mesh-tally` on the statepoint file even lets me choose the axial level for a specified score which is exactly what I want. (With returned values/plot obviously)"

"The purpose of the now-defunct openmc-statepoint-3d script was to create SILO or VTK files based on a statepoint containing a 3D mesh tal

[2018-10-26 17:53] SterlingButters commented on #1106
The real puzzler that initiated this question is as follows:

I have the following, more "complete" model of the full core example:

[code]

I then have a custom code which I am trying to use to retrieve axial slices of the tallied scores. Please take special note of the mesh configuration and filter in the model and see my custom parsing logic below:

[code]

Oddly enough, what ends up happening

[2018-10-26 17:58] SterlingButters commented on #1106
<img width="600" alt="screen shot 2018-10-26 at 1 42 01 pm" src="https://user-images.githubusercontent.com/22737286/47583923-cca2b500-d926-11e8-864a-200243f993fd.png">

[2018-10-26 18:19] SterlingButters commented on #1106
[customparse.txt](https://github.com/openmc-dev/openmc/files/2520278/customparse.txt)

[2018-10-27 18:26] SterlingButters opened #1108 "Enhancement: Custom Path specification for XML, Statepoint, Output files"
Example:
[code]

[code]

[2018-10-31 00:47] liangjg opened #1112 "Performance decline in active batches ?"
I found this issue in a simaltion using the latest develop version.
[code]
No tally was used in this pincell simulation but the calculation rate of active batch was 1/3 of inactive batches. I tried to trace the commit history per pull request. It seems the issue is introduced through #1105 . @paulromano any idea about this?

[2018-10-31 00:57] liangjg commented on #1112
Here are the complete timing statistics for the two commits:

#1101  4ae02e3c

[code]

#1105  00396e30 (another run)

[code]

[2018-10-31 12:05] paulromano commented on #1112
Thanks for reporting this @liangjg. Looks like there is a bug with how the timing values are reported. I'll put in a PR to fix that.

[2018-10-31 14:09] paulromano commented on #1106
Hi @SterlingButters. OpenMC fully supports using 3D meshes and writing them to statepoint files. `openmc-plot-mesh-tally` should in theory be able to read data from a statepoint file and give you axial slices. The only thing that was deprecated/not working was the openmc-statepoint-3d script which specifically **converted 3D mesh tally data to SILO/VTK files**. That script has since been removed,

[2018-10-31 14:54] paulromano commented on #1108
Let me try to sum up the request a little more precisely since there are a few things here:
- Ability to specify a directory on `openmc.Model.export_to_xml()`
- Ability to specify an input directory on `openmc.run()` since it assumes the XML files are in your current working directory
- Ability to specify an output directory on `openmc.run()`. Although we don't have that, you can actually configur

[2018-10-31 14:58] SterlingButters commented on #1106
@paulromano Ahh, I see. Thank you and if there is any additional detail you need for reproduction of the issue let me know.

[2018-10-31 15:02] SterlingButters commented on #1108
@paulromano
- Correct
- Correct
- Good to know! Ill try that out!

[2018-10-31 15:03] pshriwise commented on #1106
@paulromano @SterlingButters I'll take a crack at it and let you know what I find out.

[2018-11-01 14:11] pshriwise commented on #1106
@SterlingButters to make sure we're seeing the same things. What version of OpenMC are you using?

[2018-11-01 15:31] SterlingButters commented on #1106
[code]

[2018-11-01 18:13] zhengly123 opened #1114 "Performance degrades with icc-built version"
It seems that icc-built OpenMC runs more than 10 times slower than gcc-built version when OpenMP is enabled. Is there any methods to solve this problem?

[2018-11-01 23:07] paulromano commented on #1114
A few questions- what version of OpenMC are you using and how did you compile it? What model are you running? What versions of each compiler are you using?

[2018-11-02 00:45] wuwenbin2006 opened #1115 "Risk of uncertain results of Surface::sense function"
Suppose we have a particle on an XPlane, and it flies along the plane. That means the flying direction is perpendicular to the normal. Then the absolute values of both the evaluation and the dot are extremely tiny. In this case, u.dot(normal(r)) could randomly be positive or minus. Some risk of losing particles.

[2018-11-02 16:41] paulromano commented on #1114
Could you also tell me about what kind of machine you're running on? What CPU? How many cores?

[2018-11-02 17:13] zhengly123 commented on #1114
I run it on a server with dual Platinum 8176, 28 physical cores (28*2 totally), 56 threads(56*2 totally).

[2018-11-05 05:10] jasonpfi opened #1117 "Checkpointing in OpenMC?"
I will need to be check-pointing progress every few hours due to a probable power loss. Is there check-pointing with the application, or is that something I will need to do with a third party app?

[2018-11-05 13:06] paulromano commented on #1117
Yes, you can tell OpenMC to generate "statepoint" files periodically which can be used to restart a simulation. If you are using the Python API, read [this section](https://openmc.readthedocs.io/en/latest/usersguide/settings.html#generation-of-output-files) of the user's manual. If you are working with XML files directly, you would add a `<state_point>` element in your settings.xml file (see descr

[2018-11-05 13:06] #1117 closed

[2018-11-08 03:51] SterlingButters commented on #980
So my previous, goal was a bit unrealistic (ok, very) - I was trying to see if an optimization algorithm could predict optimal fuel loading maps for the whole core. 1) I should have started out with something a little more rudimentary and 2) I shouldn't have even thought about being able to obtain results in a non-HPC environment. However, I do have some logic to produce that I would like to share

[2018-11-08 03:52] SterlingButters commented on #980
Contents of `spsa` (got from someone else's github repo so I will need to sort through logic later):

[code]

[2018-11-08 03:53] SterlingButters commented on #980
Contents of `utils`:

[code]

[2018-11-08 03:59] SterlingButters commented on #980
In terms of results, the outcome I had hoped for did not emerge. Currently,

[code]

So for whatever reason, the enrichment and fuel radius variables are changing quite dramatically yet the "ideal" value I specified for `k_eff` was `1`. Perhaps I need to take a closer look at the `contraint` provision in the spsa minimization, specify a higher weight for that objective or some other alternative. A

[2018-11-08 04:13] SterlingButters commented on #980
hmmm I dont think the minimum should be negative - rerunning with revised logic now, will post back with new results

[2018-11-11 15:55] #1112 closed

[2018-11-13 13:53] paulromano commented on #1102
FYI, I have a branch where I've taken care of this that I'm planning on putting a PR in for after #1118 is merged.

[2018-11-15 05:54] hanzhuoran opened #1122 "Explicit instantiation of vector<FilterMatch>"
In filter.h, an explicit instantiation of vector<FilterMatch> is added.
However, when making on MacOS, there would be an error reporting duplicate symbols for `std::vector<openmc::FilterMatch>`.
If this instantiation is commented out, OpenMC can be built successfully. However, there would be a seg fault at the start of active cycles.

[2018-11-15 13:04] paulromano commented on #1122
What version of macOS are you running? And what compiler are you using?

[2018-11-15 13:56] hanzhuoran commented on #1122
macOS is 10.13.6.
I tried GNU version 5.5.0, 6.3.0, 7.2.0, 8.30 installed from Homebrew for x86_64-apple-darwin17.5.0.

[2018-11-15 19:01] paulromano commented on #1122
I was able to reproduce the problem and have a fix for it that I'll push to #1120.

[2018-11-15 21:10] hanzhuoran commented on #1122
At the beginning of active cycles, there is still a segmentation fault:11.

[2018-11-16 13:47] paulromano commented on #1122
I was able to reproduce this as well. Running it through lldb gives:
[code]

So far, I haven't been able to come up with a solution or even a good idea of why this is happening. The only way of getting around the segfault right now is to 1) compile with `-Ddebug=on` or 2) disable OpenMP.

[2018-11-16 14:36] paulromano commented on #1122
So after a little more digging, I have a legitimate workaround (that I don't really understand). I found that the problem is that `filter_match_pointer` was returning invalid pointers. To be more precise, the address of `filter_matches[0]` was showing up as `0x0` (and the size of `filter_matches` shows up as zero even after it has been resized). Strangely, moving the definition of `filter_match_po

[2018-11-16 15:00] hanzhuoran commented on #1122
I can work around by either compiling with -Ddebug=on or disabling OpenMP.

[2018-11-16 15:37] smharper commented on #1122
Hmm, I'm pretty stumped, too.  Although I have had troubles before with `extern "C"` blocks.  Does it work in filter.cpp if you define it as
[code]
rather than
[code]

[2018-11-17 03:49] paulromano commented on #1122
@smharper nope, unfortunately that doesn't help. I thought maybe there was some weirdness with the symbols in simulation.cpp and filter.cpp, but running `nm` seems to indicate that things are fine:
[code]
This is pretty much what you'd expect -- same symbol appears twice but only defined in one translation unit.

The fact that this doesn't happen for debug builds is making me lean towards just dec

[2018-11-18 05:49] D-Benjamin opened #1123 "Improve documentation on how to use CAD geometries"
Recently, I do a research with OpenMC, and I need to create a complex geometry that OpenMC can not make it. So I wonder if it is possible to use another tool(such as 'CAD') to create a geometry than input to OpenMC? If it is possible, than how?
    Any reply will be appreciated !!

[2018-11-18 15:12] pshriwise commented on #1123
OpenMC has recently added the capability to use CAD geometries via the [DAGMC](https://svalinn.github.io/DAGMC/) toolkit. Geometries are typically created using a software tool called [Trelis](https://www.csimsoft.com/trelis.jsp), but CAD-based surface mesh geometries from other sources have been used in the past as well. Please let us know if you have any other questions!

[2018-11-25 17:02] nmurali2002 commented on #1123
The DAGMC website doesn't have installation instructions for OpenMC - any help?
Also, this CAD functionality looks awesome - thank you so much for helping to add that capability!

[2018-11-26 19:40] liangjg opened #1125 "Temperature interpolation bug"
Users from NCSU reported that when using temperature interpolation method in OpenMC, keff shows abnormal behavior: for a pure u235 infinite case, the kinf drops to nearly zero at 610 K, with 600K and 900K library.
I found this bug does not show up in the last stable version "v0.10.0" so it should be introduced in recent updates. Preliminary debugging shows there are unexpected zeros in the "NU_FIS

[2018-11-26 20:19] paulromano commented on #1125
Thanks for taking a preliminary look @liangjg. I'll take a look at the source and see if anything pops out at me. Part of the problem is that our test data currently does not have multiple temperatures, so temperature interpolation is not being tested. We should definitely remedy that so I'll look into setting up a new library for testing.

[2018-11-26 22:17] paulromano commented on #1102
Adopted with the merging of #1120

[2018-11-26 22:17] #1102 closed

[2018-11-26 22:18] paulromano commented on #1122
This should be fixed now with the merging of #1120. @hanzhuoran feel free to reopen if you are still experiencing problems.

[2018-11-26 22:18] #1122 closed

[2018-11-27 09:54] D-Benjamin commented on #1123
Sorry, I'm a new to OpenMC! I try to simplify the geometry model  in my later Master's thesis work since the OpenMC can not make it by itself. And I will not study how to use DAGMC in a short time. But thanks for your focus on this problem, and I hope to get your reply if you can make progress in using DAGMG. keep in touch!!

Best Wishes!
D.Benjamin

[2018-11-27 10:01] D-Benjamin commented on #1123
Thanks for your focus on this problem. I believe it will have great help on me. By the way, I  wonder if the meshing tools(Such as 'ICEM' or 'Gambit') can take place of the 'Trelis'. Thanks a lot

Best Wishes!
D.Benjamin

[2018-11-27 10:04] D-Benjamin commented on #1123
Sorry, I'm a new to OpenMC! I try to simplify the geometry model in my later Master's thesis work since the OpenMC can not make it by itself. And I will not study how to use DAGMC in a short time. But thanks for your focus on this problem, and I hope to get your reply if you can make progress in using DAGMG. keep in touch!!

Best Wishes!
D.Benjamin

[2018-11-27 10:13] D-Benjamin commented on #1123
Thanks for your focus on this problem. I believe it will have great help on me. By the way, I wonder if the meshing tools(Such as 'ICEM' or 'Gambit') can take place of the 'Trelis'. Thanks a lot

Best Wishes!
D.Benjamin

[2018-11-27 10:36] D-Benjamin opened #1129 "Confusion of Rotational symmetry simulink by OpenMC"
Hello everyone:
    I'm puzzled about the rotational symmetry simulink and I have some questions.
    Following is a few of contents in OpenMC use's guide[ chapter 6.1.1] :
    //"Rotationally-periodic boundary conditions can be specified for a pair of XPlane and YPlane"//

   Does it means the angle must be equal to 90° when you do the rotational symmetry simulink? Can we only simulate 1/8 core o

[2018-11-27 12:20] paulromano commented on #1129
@D-Benjamin Yes, at the moment, rotationally-periodic boundary conditions can only be applied to pairs of x- and y-planes, so the best you could do right now is a 1/4-core model.

FYI, questions like these are better suited for our [user's group mailing list](https://groups.google.com/forum/#!forum/openmc-users), so I'd encourage you to join the mailing list. Github issues can be used for bug repo

[2018-11-27 12:20] #1129 closed

[2018-11-27 14:35] D-Benjamin commented on #1129
Thanks for your recommendation, I plan to join it

[2018-11-27 14:36] D-Benjamin commented on #1129
@paulromano Thanks for your recommendation! I plan to join it

[2018-11-28 06:55] Shimwell commented on #1123
Hi D.Benjamin

I think Trellis has a unique feature of allowing merging and imprinting surfaces.

https://svalinn.github.io/DAGMC/usersguide/trelis_basics.html

I guess that is why is was selected and the plugin was created so that it exports h5 geometry. Just to confuse you Trellis is also called Cubit.

I have not used the other meshing packages but I believe Cubit is free in some cases https://

[2018-11-30 23:45] pshriwise commented on #1123
@D-Benjamin I'll add some documentation on how DAGMC can be enabled when building OpenMC very soon, thanks for bringing it to our attention.

@Shimwell is steering you well. The imprinting and merging capabilities in CUBIT/Trelis are important to providing robust surface mesh geometries to the DAGMC kernel. However, we have generated DAGMC models from non-intersecting, non-coincident surface meshe

[2018-12-03 08:04] D-Benjamin opened #1132 ""current" tally Bug when using openmc.SurfaceFilter"
Hi all:
     I may find a bug of "current" tally. I define my geometry like that:
[code]
In order to get the leakage rate, I create a mesh and define a meshFilter and a current tally like that:
[code]
The "tallies.out" file gives the current tally as below:
[code]
Because of the "reflective" boundary condition defined as before, the current is 0. And the bottom and top surface's current is not equ

[2018-12-07 23:02] paulromano opened #1137 "Update atomic mass evaluation to AME 2016"
The atomic mass data we use for `openmc.data.atomic_mass(...)` is from the 2012 atomic mass evaluation. There is an updated evaluated from 2016 that is [available](https://www-nds.iaea.org/amdc/).

[2018-12-13 23:45] liangjg opened #1138 "Energy cut-off at 8.1 MeV for Be7"
@salcedop reported that with `Be7` in a simulation, the flux beyond 8.1 MeV is zero. I found this issue had been noticed and discussed previously, see #406 and #474. And in #474 the neutron transport energy is cut-off at 8.1 MeV to make sure logarithmic grid works. But this approach introduces bias to the energy source and neglects all the reactions/cross-sections beyond 8.1 MeV. For example, in a

[2018-12-14 20:27] makeclean opened #1139 "OpenMC Geometry Bug"
OpenMC doesnt check (at least for direct XML input) that the surfaces bounding a cell actually exist. The following file based on xml/basic runs succesfully without any issues.

[code]
Note that the order in the region section doesnt matter, it still runs to completion.

I think there should be a baseline check either way that every surface called for in the cells region should have a matching sur

[2018-12-19 04:55] paulromano commented on #1138
Yeah, I noticed this a long time ago. Just one of the many examples of an evaluation being seriously messed up. Unfortunately there's not too much we can do if a user puts Be7 in their model beyond what we do now, which is to limit the maximum neutron energy. We could potentially write out a warning if the maximum energy is < 20 MeV?

[2018-12-22 23:37] GiudGiud commented on #1132
Hi Benjamin,

You are getting the partial currents from this tally now, which was what I needed when I implemented this feature.
The behavior of the current score is different if you use it with a mesh or a surface filter, as it is specified in the documentation. Net and partial currents might be flipped in the documentation however.

Best,
Guillaume

[2019-01-02 19:52] #1138 closed

[2019-01-10 08:40] D-Benjamin commented on #1132
Hi Guillaume,
    The instruction on User's Guide clarify that "current" tally used in combination with a surface filter
represent "Net currents on any surface previously defined in the geometry". While, from the result above, it is obvious that the result of mesh filter is more likely to the Net currents. I'm very confused, and I hope to get your reply soon.

Thanks!
Benjamin

[2019-01-10 13:12] paulromano commented on #1132
@D-Benjamin Looking into this a bit, I tend to agree with you that this is a bug for a surface filter. We have special logic in place so as to get the correct behavior for mesh surface filters, but not for regular surface filters. I'll looking into submitting a bugfix for this. Thanks for reporting!

[2019-01-14 16:37] #975 closed

[2019-01-15 14:35] liangjg commented on #1114
@paulromano In the initial profiling comparisons between gcc and Intel, we found the Fortran type-bound function causes abnormal performance degradation with Intel compiler, which is believed to be a bug of intel.  This was observed in the serial calculations. In later detailed profiling with multiple processes and threads, we only ran with gcc, and no comparison between gcc and intel were made.
I

[2019-01-16 11:57] D-Benjamin commented on #1123
@pshriwise
Hi, pshriwise,
    Have you finished the documentation on how DAGMC can be enabled when building OpenMC?  Recently, I need to create a complex geometry urgently which OpenMC can not make it by itself. Or is there any another way to construct a complex geometry and then simulate by OpenMC?
    Hope to get your reply soon.

Best Wishes!
Benjamin

[2019-01-16 21:44] pshriwise commented on #1123
@D-Benjamin I’m overdue on that, aren’t I?! Apologies.

At some point I made the decision to wait until I could implement support for our material-laden geometry workflow, called [UWUW](https://svalinn.github.io/DAGMC/usersguide/uw2.html), before writing it all up so I could include information on this as well.

In the meantime, what stage are you at in creating this geometry. Do you have a CAD fi

[2019-01-17 03:31] D-Benjamin commented on #1123
@pshriwise I'd like to create a geometry which is similar to the picture below. OpenMC doesn't have the capability of making complex geometry. Maybe I have to use the method of stacking blocks to complete this work. Anyway, I'm really looking forward to your release of this new capability of OpenMC.

![image](https://user-images.githubusercontent.com/45137022/51293533-68d1e900-1a4a-11e9-9ca6-77cd4

[2019-01-17 07:06] D-Benjamin commented on #1123
@pshriwise Hi pahriwise, I may find a error in the DAGMC documentation when I install the MOAB. the website is "https://svalinn.github.io/DAGMC/install/dependencies.html". After run following commands, there is a error hint: "configure: error: BLAS library not found"  on the terminate.

`$ ../src/configure --enable-optimize \
                            --enable-shared \

[2019-01-17 17:06] pshriwise commented on #1123
Hrmmm so MOAB will require either BLAS/ or Eigen3 for its linear algebra needs. Can you check that one of those is installed on your machine?

You can specify which of the two you’d like to use in the configure command using the `—with-blas` and `—with-eigen3`, respectively.

Let me know if that helps!

[2019-01-18 12:34] D-Benjamin commented on #1123
@pshriwise Thank you, pshriwise! I have installed the MOAB successfully by your instruction

[2019-01-18 19:42] pshriwise commented on #1123
Excellent! Do keep me updated as to how things are going. There are a lot of instructions for model preparation on the [DAGMC site](https://svalinn.github.io/DAGMC/usersguide/uw2.html). I’d recommend setting up your module using the UWUW workflow - which will be supported by OpenMC very soon. I’m hoping to submit that capability for review within a week or so.

You can also use the MCNP model prep

[2019-01-19 14:38] D-Benjamin commented on #1123
@pshriwise Thanks for your contribution on the OpenMC and thanks for your help in these days! I'll waiting for you to submit it so that I can use this new great feature to make my thesis's work better. Please let me know when it is issued and I'll focus it all the time. Thank you!

[2019-02-01 10:45] Shimwell commented on #1098
I am having similar difficulties with TENDL 2015.

After writing a download script for TENDL-2017 ([link to tendl-2017 script](https://github.com/Shimwell/openmc/blob/download_tendl_data/scripts/openmc-get-tendl-2017-data)) and getting an NJOY with Boron 10 ([link to issue](https://groups.google.com/forum/#!searchin/openmc-users/tendl%7Csort:date/openmc-users/EhmXaYBfQPk/J4WbgJ7hAgAJ)) I started t

[2019-02-01 23:57] paulromano commented on #1098
Here's my own HDF5 library for TENDL 2015 that I used to test:
https://anl.box.com/s/tb00nfpju77yptl5cia01ljvvg2syekg

[2019-02-08 23:23] paulromano opened #1159 "Use relative energy to sample 0K secondary angle distributions"
This was discussed at length in #981. That PR never made it in, so this issue is meant to be a placeholder until we do make the change.

[2019-02-10 03:00] paulromano commented on #969
`binary_search` is gone after #1154 is merged, so this issue will not be relevant anymore

[2019-02-10 03:00] #969 closed

[2019-02-10 03:10] paulromano commented on #1019
This issue was resolved by #1118.

[2019-02-10 03:10] #1019 closed

[2019-02-11 13:59] Shimwell opened #1161 "Reading in JENDL endf files"
Dear all

I am trying to convert JENDL (which is  in endf format) into h5 format for use in OpenMC

I have downloaded the [library](https://wwwndc.jaea.go.jp/ftpnd/ftp/JENDL/jendl40-up-0k_20160106.tar.gz) and am running the `openmc.data.IncidentNeutron.from_endf` method on the extracted files.

This appears to cause an error with some files (for example 'Ag109.t000'). I believe this is because lin

[2019-02-12 02:34] paulromano commented on #1161
`<rant>`
I've run into this problem and many others like it countless times. The moral of the story is that data evaluators don't seem to pay much attention to the ENDF-6 format because they continually invent new ways to not follow it. This is a pretty common one: the first line of an ENDF file, known as `TPID`. The ENDF-6 manual has this to say about `TPID`:

What you're finding is that it choke

[2019-02-12 02:47] paulromano commented on #1132
This was fixed by #1145.

[2019-02-12 02:47] #1132 closed

[2019-02-13 12:08] Shimwell commented on #1161
Great I shall give the `from_njoy()` a go.

Perhaps `from_endf()` should still be able to handle endf files with TPID records so I happy to put in a PR for that small change if you like

Otherwise this issue can be closed and I shall use `from_njoy()` for my needs, as I want to include some extra MT numbers as well as seeing what is inside the file.

Perhaps another option is the [njoy/ENDFTK](htt

[2019-02-13 14:02] paulromano commented on #1161
To be clear, it can handle files with TPID records fine, just not ones that don't follow the correct format. In any event, I can put in a workaround. It seems sufficient to just skip the first line in the file.

[2019-02-13 15:10] Shimwell commented on #1161
Thanks Paul

[2019-02-13 22:41] pshriwise commented on #1123
Hi @D-Benjamin!

I wanted to let you know that documentation for [preparation of a DAGMC model in CUBIT/Trelis for OpenMC](http://svalinn.github.io/DAGMC/usersguide/codes/openmc.html) and [use of DAGMC's CAD-based geometry in OpenMC](http://svalinn.github.io/DAGMC/usersguide/codes/openmc.html) have been added to the DagMC and OpenMC projects.

Please feel free to contact me with any questions you

[2019-02-15 20:45] liangjg commented on #1114
@paulromano I tried to do profiling on icc-built openmc, but:
(1) I failed compiling the latest develop versions.
For the latest version()
[code]
For previous versions
[code]
It seems we have some C++ implementations that the intel compiler does not support. But the intel compiler I used is quite new, 18.0.1. Maybe we need to update the cmake configurations?
(2) I managed to compile the v0.10.0 st